/* 공통 */
.c_red{color: red !important;}

input[type=password]{padding-left: 10px;}

.divide_area{display: flex; justify-content: space-between;}
.main_box{width: 40%;}
.side_box{width: 58%;}

.menu_edit .main_box{float: left;width: 40%;}
.menu_edit .side_box{float: right; width: 58%;}

i.ico_new {display: inline-block;vertical-align: top;width: 14px;height: 14px;margin-top: 3px; margin-left: 6px; background-color: #F68A53;border-radius: 1px;font-size: 10px;text-align: center;line-height: 14px;color: #fff;font-family: "Roboto", "Noto Sans KR", sans-serif;}
i.ico_new:after {content: "N";}
i.ico_file{display: inline-block; vertical-align: top; width: 27px; height: 27px; font-size: 0; background-repeat: no-repeat; background-position: center; background-image: url(../ad_images/common/ico_file.png); background-size:18px;}
i.secret{display:inline-block; width:16px; height:16px; font-size:0; background-repeat: no-repeat; background-position: center; background-image: url(../ad_images/common/ico_secret.png); background-size:100%; vertical-align: top; margin-top: 2px;}

/* 툴팁 */
[data-tooltip-text]:hover{position: relative;}
[data-tooltip-text]:hover:after{content: attr(data-tooltip-text); position: absolute; bottom: 100%;	left: 0; background-color: rgba(0, 0, 0, 0.8); color: #fff; padding:10px; font-size: 12px; z-index: 9999; min-width:160px; box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.1); border-radius: 5px;}
.ico_info{display: inline-block; width: 14px;height: 14px; background: url(../ad_images/common/i_info.svg) no-repeat center; background-size: 100%;}

/* 목록 */
.search_wrap table.search_list thead th.border_l{border-left: 1px solid #d5d5d5;}
.search_wrap table.search_list td a{text-decoration: underline; color: #2578e9 !important;}
.search_wrap table.search_list td a:hover{text-decoration: none;}
.search_wrap table.search_list td.t_left a{max-width: calc(100% - 50px); width: auto;}

/* 등록,상세 */
div.write table td label{margin-right: 10px;}

div.write table td div.file_area::after{content:''; display:block; clear:both;}
div.write table td .file_list{margin-top: 10px;}
div.write table td .file_list li{display: inline-block;}
div.write table td .file_list li .delete_btn{display: inline-block; text-indent: -9999em; width: 18px; height: 18px; background: url('../ad_images/common/ico_delete.png') no-repeat center; background-size: 100%; margin-left: 3px; vertical-align: middle;}
div.write table td .file_list li img{max-width: 500px;}

/* ==== 팝업 ==== */
.pop_wrap{padding:0; background:#fff;}
.pop_wrap .pop_header{padding: 0 10px; border-bottom: 1px solid #ddd; position:relative;}
.pop_wrap .pop_header h1{color: #222; font-size: 20px; font-weight: 500; height: 50px; line-height: 50px;}
.pop_wrap .pop_header .popup_close{position: absolute; top: 0; right: 0; height: 50px; width: 50px; font-size: 0; background: url(../images/common/modal_close.png) no-repeat center center;}

.pop_wrap .pop_body{padding:15px;}
.pop_wrap .pop_body .con_box{min-height:250px;}
.pop_wrap .pop_body legend{font-size:0; overflow:hidden;}
.pop_wrap .pop_body .input_area{position: relative; margin-bottom: 10px;}
.pop_wrap .pop_body .input_area .tit{display: block; padding:0 0 6px;}
.pop_wrap .pop_body .input_area input{display: block;width: 100%;height: 45px;line-height: 43px; font-size:14px; color: #222; background-color: #fff; border: 1px solid #c4c5c9; padding: 0 10px; border-radius: 3px;}
.pop_wrap .pop_body .input_area input::placeholder{color: #c4c5c9;}

.pop_wrap table{width:100%; border:1px solid #d5d5d5; border-bottom:0px none;}
.pop_wrap table th{padding:5px 10px; background-color:#eaeaea; font-size:14px; color:#4b4b4b; font-weight:400; border-bottom:1px solid #d5d5d5; border-right:1px solid #d5d5d5; border-left:1px solid #d5d5d5;}
.pop_wrap table td{padding:5px 10px; background-color:#fff; border: solid #d5d5d5;border-width: 1px 0 1px 1px;}
.pop_wrap table td:first-child{border-left:0;}

.pop_wrap .btn_area{padding:20px 0; text-align:center;}

.pop_wrap .pagination .on {color: #fff;  font-weight: bold;  background: #000;  border: 0;}
.pop_wrap .pagination {padding: 20px 0 0;}

/* 메뉴관리 */
.menu_wrap .menu_new{padding: 15px 20px; border-bottom: 1px solid #D3D3D3;}
.menu_wrap .menu_new .txt{font-size: 14px; font-weight: 500; text-align: center;}
.menu_wrap .menu_new .input_area{display: flex; align-items: center; margin-top: 10px;}
.menu_wrap .menu_new .input_area .ico_menu{display: inline-block; width: 18px; height: 14px; background: url(../ad_images/common/ico_menu_01.svg) no-repeat center; background-size: 100%; margin-right: 6px;}
.menu_wrap .menu_new .menu{display: block; padding:10px 0; margin: 5px 0; padding: 10px 20px;}
.menu_wrap .menu_new .menu span{display: block; font-size: 14px; font-weight: 500; padding-left: 28px; background: url(../ad_images/common/ico_menu_01.svg) no-repeat left top 4px; background-size: 18px 14px;}
.menu_wrap .menu_new .menu.on{background-color: #999; color: #fff; border-radius: 5px; }
.menu_wrap .menu_new .menu.on span{background-image: url(../ad_images/common/ico_menu_01_w.svg);}

.menu_wrap .menu_list{background-color: #fff; border: 1px solid #D3D3D3; margin-top: 20px; max-height: 550px; overflow-y: scroll;}
.menu_wrap .menu_list .btn_new{display: block; text-align: center; font-size: 16px; margin: 0 auto;}
/* .menu_wrap .menu_list dl{margin-top: 5px;} */
.menu_wrap .menu_list dl dt{padding:15px 20px;  border-bottom: 1px solid #D3D3D3; }
.menu_wrap .menu_list dl dt .depth1{font-size: 14px; font-weight: 500; padding-left: 28px; background: url(../ad_images/common/ico_menu_01.svg) no-repeat left top 4px; background-size: 18px 14px;}

.menu_wrap .menu_list .depth_list li{ }
.menu_wrap .menu_list .depth_list li .depth2,
.menu_wrap .menu_list .depth_list li .depth3 {display: block; padding:15px 20px 15px 50px; border-bottom: 1px solid #D3D3D3; font-size: 14px; background: url(../ad_images/common/ico_menu_02.svg) no-repeat left 30px top 50%; background-size: 14px 12px;}
.menu_wrap .menu_list .depth_list li .depth3 {padding-left: 70px; background-position: left 50px top 50%;}

.menu_wrap .menu_list dl.disabled > *,
.menu_wrap .menu_list li.disabled > * {opacity: 0.3;}
.menu_wrap .menu_list dl.disabled li.disabled > * {opacity: 1;}

/* .menu_wrap .menu_list .focus_group dt {border: 1px solid #019664;}
.menu_wrap .menu_list .focus_group dt a {color: #019664;}
.menu_wrap .menu_list .focus_group .focus_list {border: 1px solid #019664;} */
.menu_wrap .menu_list .focus_group .focus_list > a {color: #019664;}

/* 메뉴관리_팝업 */
.pop_body .menu_wrap .menu_list dl dt,
.pop_body .menu_wrap .menu_list ul li{display: flex;align-items: center;justify-content: space-between;}
.pop_body .menu_wrap .menu_list .order_btn .order{display: inline-block; width: 20px; height: 12px; background: url(../ad_images/common/menu_arrow_up_s.png) no-repeat center; background-size: 100%; margin:0 10px;}
.pop_body .menu_wrap .menu_list .order_btn .order.down{background-image: url(../ad_images/common/menu_arrow_down_s.png);}
.pop_body .menu_wrap .menu_list ul li {position: relative; display: block;}
.pop_body .menu_wrap .menu_list ul li a {display: block; padding-right: 60px;}
.pop_body .menu_wrap .menu_list ul li .order_btn {position: absolute; top: 14px; right: 0;}

/* 컬러코드 */
.color_code label{margin-right: 10px;}
.color_box {display: inline-block; width: 15px; height: 15px; font-size: 0; margin: 0 auto; vertical-align: middle;}
.color_box.is_left {margin: 0 0 0 0;}
input[type="color"] {vertical-align: middle; margin: 0 0 0 5px;}

/* 상세설명 */
tr th em {display: block; font-size: 12px; color: #858585;}
.file_area .file_plus {text-decoration: underline; display: flex; gap: 5px;}
.file_area .file_plus .btn_link{color: #3899a7;}
.file_area .file_plus .btn_del_txt{font-size: 0; display: inline-block !important; width: 20px;height: 20px; background-image: url(../ad_images/common/close.png);background-repeat: no-repeat;background-position: center;background-size: contain;}

.gallery_list{ font-size: 0; margin-left: -30px; width: 100%;}
.gallery_list li {  display: inline-block;  width: calc(25% - 30px);  margin: 0 0 30px 30px;  position: relative;}
.gallery_list li p {  font-size: 14px;  margin-top: 10px;}
.gallery_list li .attach_img {  position: relative;  display: block;  width: 100%;  height: 0;  padding-top: 60%;  background-position: center;  background-repeat: no-repeat;  background-size: 100%;}
.gallery_list li .attach_img img {  position: absolute;  top: 0;  left: 0;  width: 100%;  height: 100%;}

/* 썸네일 -신분증 */
.thumbnail{margin: 5px 0 ; position:relative; display:block; width:100%; height:0; border:1px solid #ccc; padding-top :55%; background-size:cover;  background-repeat: no-repeat; background-position: center;}
.thumbnail img{position: absolute; top: 0; left: 0;width: 100%; height: 100%; object-fit: cover;}

.cnt_wrap2 {margin-top: 10px !important;}
.cnt_wrap2.forest .left_menu{width: 36.36% !important;}
.cnt_wrap2.forest .sub_main.r_main{width: 60.5%; margin-top: 55px;}
.cnt_wrap2.forest .sub_main.r_main p{display: inline-block;}
.cnt_wrap2 .sub_main.r_main {    width: 33% !important; margin-top: 90px; float: right; background-color: #fff; padding: 10px; text-align: center;}
.date_result { margin: 0 auto; text-align: center; display: flex !important; margin-top: 20px; justify-content: center;}
.date_result .dl_chk dl dd {display: flex;}
.date_result .dl_chk dl dd input{width: 75% !important;}
.date_result .dl_chk dl dd button{height: 36px !important;}

/* ==== login ==== */
.login_bg {position: relative; width: 100%; height: 100vh;background-image: url(../ad_images/common/login_bgbg.png);background-repeat: no-repeat;background-position: 0 0;background-size: cover;}
.login_box { position: absolute; top: 125px; left: 50%; padding: 40px 30px 50px; margin-left: -210px; width: 420px;  height: 476px; background-color: rgb(255, 255, 255); box-shadow: 7px 7px 13px rgb(0 0 0 / 20%); border: 1px solid #ddd; box-sizing: border-box; border-radius: 10px;}
.login_box .logo { border-bottom: 1px solid #e9e9e9; padding-bottom: 35px;}
.login_box .logo h1 { text-align: center;}
.login_box .logo h2 { text-align: center; font-size: 18px; color: #969696; font-weight: normal; letter-spacing: -1px;}
.login_box .login p.txt { text-align: center; font-size: 14px; color: #696767; line-height: 22px; padding: 35px 0;}
.login_box .login legend { font-size: 0; overflow: hidden;}
.login_box .login .input_area { position: relative; margin-bottom: 10px;}
.login_box .login .input_area input { display: block; width: 100%; height: 45px; line-height: 43px; font-size: 14px; color: #222; background-color: #fff; border: 1px solid #C4C5C9; padding: 0 10px; border-radius: 3px;}
.login_box .login .input_area input::placeholder { color: #c4c5c9;}
.login_box .login .input_area.add_btn { margin-bottom: 0;}
.login_box .login .input_area.add_btn input { padding-right: 120px;}
.login_box .login .input_area.add_btn .btn_auth { display: inline-block; width: 98px; height: 28px; line-height: 26px; font-size: 13px; text-align: center; background-color: #fff; color: #38289a; border: 1px solid #38289a; border-radius: 3px; position: absolute; top: 50%; right: 11px; margin: -14px 0 0 0; padding: 0;}
.login_box .login .input_area.add_btn .btn_auth.on { background-color: #38289a; color: #fff;}
.login_box .login .btn_login { display: block; width: 100%; height: 52px; line-height: 50px; text-align: center; border-radius: 3px; font-size: 18px; font-weight: 500; color: #fff; background-color: #222; margin: 15px 0 0;}
.login_box .login .btn_login.type_sso { background-color: #7a96c6;}
.login_box .login .login_txt { text-align: center; font-size: 12px; color: #666; letter-spacing: -0.5px; margin: 15px 0 0;}
.login_box .login div { background-color: #fff !important;}