@charset "utf-8";
@import url('font.css');

    html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: 0 0;
        -webkit-text-size-adjust: none
    }

    html,
    body {
        width: 100%;
        height: 100%;
    }
    body {
        background-color: #fff;
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    body::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari, Opera*/
    }
    
    label {
        cursor: pointer
    }
    
    html,body {
        width: 100%;
        height: 100%
    }
    
    body,input,button,textarea {
        font-size: 12px;
        line-height: 1.5em;
        font-family: Noto Sans kr,돋움,Dotum,AppleSDGothicNeo,AppleGothic,Droid Sans;
        color: #000;
        word-break: keep-all
    }
    
    textarea {
        overflow: auto
    }
    
    h1,h2,h3,h4,h5,h6 {
        font-size: 12px;
        text-align: left;
        font-weight: 400
    }
    
    article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
        display: block
    }
    
    img {
        max-width: 100%
    }
    
    img,fieldset,iframe {
        border: 0
    }
    
    table,div {
        border-collapse: collapse
    }
    
    select,textarea {
        border: 1px solid #b7b6b6;
        background: #fff;
        color: #000;
        font-size: 12px;
        vertical-align: middle;
        font-family: Noto Sans kr,돋움,Dotum,AppleSDGothicNeo,AppleGothic,Droid Sans
    }
    
    textarea {
        overflow: auto
    }
    
    select,input,img,li {
        vertical-align: middle;
        text-align: left
    }
    
    address,caption,cite,code,dfn,em,strong,th,var,optgroup {
        font-style: normal;
        font-weight: 400
    }
    
    ul,li,ol {
        list-style-type: none
    }
    
    legend,caption {
        position: absolute;
        top: 0;
        left: -9999px;
        width: 0;
        height: 0;
        line-height: 0;
        text-indent: -9999px;
        font-size: 0
    }
    
    blockquote,q {
        quotes: none
    }
    
    blockquote:before,blockquote:after,q:before,q:after {
        content: '';
        content: none
    }
    
    a {
        margin: 0;
        padding: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: 0 0;
        text-decoration: none
    }
    
    a:link,a:visited {
        text-decoration: none;
        color: #666
    }
    
    a:hover {
        text-decoration: none;
        cursor: pointer
    }

    button {
        padding: 0;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        -webkit-appearance: none
    }
    
    .blind {
        position: absolute;
        width: 0;
        height: 0;
        font-size: 0;
        line-height: 0;
        text-indent: -9999px;
        overflow: hidden;
        visibility: hidden
    }
    
    
    ins {
        background-color: #ff9;
        color: #000;
        text-decoration: none
    }
    
    mark {
        background-color: #ff9;
        color: #000;
        font-style: italic;
        font-weight: 700
    }
    
    del {
        text-decoration: line-through
    }
    
    abbr[title],dfn[title] {
        border-bottom: 1px dotted;
        cursor: help
    }
    
    hr {
        display: none
    }
    
    #skip {
        position: relative;
        z-index: 9999
    }
    
    #skip ul li {
        display: inline
    }
    
    #skip h2 {
        display: block;
        overflow: hidden;
        position: absolute;
        width: 1px;
        height: 1px;
        font-size: 1px;
        line-height: 0;
        text-indent: -9999px;
        white-space: nowrap
    }
    
    #skip p {
        display: block;
        overflow: hidden;
        position: absolute;
        width: 1px;
        height: 1px;
        font-size: 1px;
        line-height: 0;
        text-indent: -9999px;
        white-space: nowrap
    }
    
    #skip a {
        position: absolute;
        top: -100px;
        left: -999px;
        display: inline-block;
        border: 1px solid #24242c;
        background: #31313b;
        color: #fff
    }
    
    #skip a:focus,#skip a:active {
        top: 0;
        left: 0;
        cursor: pointer;
        zoom:1;display: inline-block;
        margin-right: 9px;
        padding: 5px 8px 4px;
        background: #31313b;
        font-weight: 400;
        font-size: 11px;
        line-height: 1.4em
    }
    
    #skip_container {
        position: absolute;
        left: -999px;
        display: inline-block;
        border: 1px solid #24242c;
        background: #31313b;
        color: #fff
    }
    
    .clearfix:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden
    }
    
    .clearfix {
        display: inline-block
    }
    
    *html .clearfix {
        height: 1%
    }
    
    .clearfix {
        display: block
    }