@mixin pc {
	@media (min-width: 1400px) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: 768px) and (max-width: 1019px) {
		@content;
	}
}

@mixin mobile {
	@media (max-width: 1400px) {
		@content;
	}
}

//board_list -type_inquiry
.board_list {
	border-collapse:separate !important;
	&.type_inquiry{
		.bl_row{
			.sec.title{
				display: flex;
				.new_ico{
					background-image: url(../images/image/ico_new.svg);
					background-size: 20px 20px;
					width: 20px;
					height: 20px;
					flex: 0 0 auto;
				}
			}
			&.bl_h{
				.sec.title{
					text-align: center;
					justify-content: center;

				}
			}
		}
	}
}
//라디오박스
.radio_visual {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	input[type="radio"] {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
	}
	.radio_ico {
		width: 18px;
		height: 18px;
		margin-bottom: 1px;
		display: block;
		outline: 1px solid #707070;
		border: 3px solid #fff;
		border-radius: 100%;
		background: #fff;
	}
	.txt {
		padding-left: 12px;
		font-size: 18px;
		font-weight: 400;
		line-height: 26px;
		margin-top: -2px;
	}
	input:checked + .radio_ico {
		background-color: #139274;
	}
}
// input
.ag_input_wrap {
	/* 파일 업로드 */
	.file_area{
		position: relative;
		font-size: 0;
		input[type=file]{
			width: 1px;
			height: 1px;
			position: absolute;
			opacity: 0;
		}
		.bm_button{
			opacity: 1;
			font-size: 16px;
			display: inline-block;
			width: 120px;
			height: 46px;
			line-height: 46px;
			text-align: center;
			vertical-align: bottom;
			margin: 0;
			color: white;
			background-color: #222222;
			border-radius: 6px;

		}
	}
	.file_list {
		font-size: 0;
		li {
			position: relative;
			display: inline-block;
			vertical-align: top;
			margin: 14px 28px 0 0;
			padding-right: 32px;
			span {
				display: block;
				text-decoration: underline;
				font-size: 14px;
				line-height: 21px;
				color: #727272;
				&::before{
					content: "";
					display: inline-block;
					background-image: url(../images/image/ico_clip.png);
					width: 19px;
					height: 22px;
					margin-right: 8px;
					margin-bottom: -5px;
				}
			}
			.btn {
				font-size: 0;
				position: absolute;
				top: 0;
				right: 0;
				display: inline-block;
				width: 20px;
				height: 22px;
				background-repeat: no-repeat;
				background-position: center center;
				background-image: url(../images/image/ico_close.png);
				background-size: contain;
			}
		}
	}
	.input_tit {
			font-size: 18px;
			line-height: 26px;
			padding-bottom: 12px;
			&::after{
				content: "*";
				color: #F68A53;
				display: inline-block;
				width: 2px;
				height: 2px;
				margin: 1px;
			}
			&.n:after{
				content: "";
			}
			span{
				color: #008C4D;
				font-size: 14px;
				padding-left: 12px;
				font-weight: 300;
			}
	}
	input[type=text], input[type=number], input[type=email], input[type=tel], input[type=date], input[type=password], textarea, select {
		width: 100%;
		height: 50px;
		background: #fff;
		border: 1px solid #DDDDDD;
		border-radius: 6px;
		font-size: 16px;
		padding: 0 18px;
		&.type_s{
			width: 180px;
		}
		&.type_m{
			width: 385px;
		}
		select:focus,
		&:read-write:focus {
			border-color: #DDDDDD;
			outline: none;
		}
		&:not(:read-write){
			background: #DDDDDD;
		}
		&::placeholder {
			color: #666666;
		}
	}
	label{
		& +.hyphen{
			display: inline-block;
			margin: 0 14px;
			width: 8px;
			color: #666666;
		}
			&+.hyphen1 {
				display: inline-block;
				margin: 0 18px;
				width: 15px;
				color: #666666;
				font-size: 16px;
			}
	}
	textarea {
		width: 100%;
		height: 156px;
		padding: 18px;
		resize: none;
		margin-top: 12px;
	}
	select {
		width: 100%;
		appearance: none;
		background: url('../images/common/m_i_down.png') no-repeat right 18px center #fff !important;
		background-size: 10px 5px;
	}
}
.ag_notice_txt{
	margin-top: 40px;
	p{
		font-size: 18px;
		font-weight: 600;
	}
	.ag_notice_cont{
		margin-top: 15px;
		padding: 18px;
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
		border: 1px solid #DDDDDD;
	}
	.chk_area{
		display: flex;
		align-items: start;
		font-size: 16px;
		line-height: 26px;
		margin-top: 16px;
		margin-top: 18px;text-align: left;
		position: relative;
		.chk{
			display: flex;
		}
		input[type=checkbox] {
			opacity: 0;
			&+ .chk .ico_chk{
				display: inline-block;
				position: absolute;
				top: 14px;
				left: 0;
				width: 18px;
				height: 18px;
				background-repeat: no-repeat;
				background-position: center;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				background-image: url(../images/image/ico_chk02.svg);
				background-size: cover;
				&+span{
					margin-left: 12px;
				}
			}
			&:checked{
				&+.chk .ico_chk {
						background-image: url(../images/image/ico_chk01.svg);
					}
			}
		}
	}
}

@keyframes rotate360 {
	from {
		transform: rotate(0deg);
		transform-origin: center center; // 이미지 중심을 회전 중심으로 설정
	}

	to {
		transform: rotate(360deg);
		transform-origin: center center; // 이미지 중심을 회전 중심으로 설정
	}
}

//이미지 리스트
.tab_container {
	clear: both;
	.tab_cnt{
		display: block;
		.photolist{
			display: flex;
			flex-wrap: wrap;
			margin: 20px -20px;
			&.type_border{
				margin: 20px -10px -10px;
				li{
					border: 1px solid #DDDDDD;
					border-radius: 6px;
					margin: 10px;
					width: calc(33.33% - 20px);
				}
			}
			&.type_promotion{
				margin: 0;
				li{
					width: 100%;
					margin: 0;
					a{
						.play{
							width: 10%;
						}
						.img_box{
							border-radius: 0px;
						}
					}
					.title{
						.tit{
							display: flex;
							align-items: start;
							justify-content: space-between;
							padding-bottom: 26px;
							padding-top: 40px;
							margin-bottom: 26px;
							border-bottom: 1px solid #DDDDDD;
							.name{
								margin: 0;
								font-size: 24px;
								font-weight: 500;
								line-height: 35px;
								white-space: wrap;
							}
							.date{
								color: #666666;
								font-size: 20px;
								line-height: 35px;
								margin: 0;
							}
						}
						.cont{
							font-size: 20px;
							line-height: 29px;
						}
					}
				}
			}
			li{
				margin: 20px 20px;
				width: calc(33.33% - 40px);
				transition: opacity 0.5s ease-out 0s;
				&:hover, &:focus{
					opacity: 0.7;
				}
				a{
					position: relative;
					display: block;
					.play{
						position: absolute;
						top: 50%;
						left: 50%;
						margin-top: -30px;
						transform: translate(-50%);
						z-index: 1;
					}
					.img_box{
						border-radius: 6px;
						position: relative;
						overflow: hidden;
						width: 100%;
						height: 100%;
						padding-top: 63%;
						text-align: center;
						&.type_video{
							padding-top: 56.25%;
						}
						img{
							position: absolute;
							top: 0px;
							display: block;
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
				}
				.title{
					.name{
						font-size: 18px;
						line-height: 24px;
						color: #333;
						font-weight: 500;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
						word-break: break-all;
						margin-top: 20px;
					}
					.date{
						position: relative;
						display: block;
						min-width: 124px;
						height: 32px;
						border: 0;
						font-size: 16px;
						height: 19px;
						margin-top: 14px;
						color: #999;
					}
				}
			}
		}
	}
}
.hide_pc{
	display: none !important;
}
#content {
	color: #222222;
	.w_set{
		.member {
			.inquire{
				color: #222222;
				display: flex;
				justify-content: stretch;
				.left{
					width: 515px;
					padding-right: 103px;
					flex: 0 0 auto;
					.img{
						background-color: #F6FAF9;
						border-radius: 50%;
						width: 200px;
						height: 200px;
						text-align: center;
						img{
							padding-top: 63px;
						}
					}
					p{
						font-size: 30px;
						margin-top: 40px;
						font-weight: 600;
						line-height: 28px;
					}
					span{
						display: block;
						margin-top: 24px;
						font-size: 18px;
						line-height: 28px;
					}
				}
				.right{
					border-top: 1px solid #222222;
					width: 100%;
					.ag_input{
						padding-bottom: 60px;
						border-bottom: 1px solid #DDDDDD;
						.ag_input_wrap{
							margin-top: 20px;
							&:nth-child(1){
								margin-top: 40px;
							}
						}
					}
				}
			}
		}
		.pagination {
			display: flex;
			justify-content: center;
		}
		.inquiry_view {
			$lr: 20px;
			&.type_archive{
				width: 100%;
				margin: 0 auto;
				.answer{
					&>p{font-weight: 600; font-size: 24px;}
					.article{
						border-top: 2px solid #222222;
						.content_title{
							padding: 24px 0;
							pre{
								font-size: 18px;
								font-weight: 500;
							}
						}
						ul{
							li{
								flex-direction: column
							}
						}
						.add_area li>p+span{
							padding: 0;
						}
					}
				}
				.board_bottom{
					margin-top: 60px;
				}
			}
			.answer{
				margin-top: 60px;
				p{
					color: #111111;
					font-size: 20px;
					padding-bottom: 16px;
				}
				.article{
					.title_area{
						.tit{
							color: #666666;

						}
						span{
							color: #111111;
							font-size: 16px;
						}
					}
					.content_area{
						pre{
							font-size: 16px;
							color:#111111;
						}
					}
				}
			}
			.article {
				> * {
					border-bottom: 1px solid #DDDDDD;
				}
				.title_area {
					border-top: 1px solid #222222;
					padding: 20px 0;
					font-size: 16px;
					display: flex;
					input{
						font-size: 18px;
						color: #666666
					}
					.tit {
						font-size: 16px;
						color: #222222;
						padding-right: 20px;
						padding-bottom: 0;
					}
					span{
						color: #666666;
						font-size: 18px;
					}

				}
				.add_area {
					padding: 20px 0;
					display: flex;
					flex-wrap: wrap;
					gap:40px;
					li{
						display: flex;
						> p {
							font-size: 16px;
							color: #222222;
							&:after{
								content: "*";
									display: inline-block;
									width: 2px;
									height: 2px;
									margin: 1px;
									color: #E4585A;
							}
							&.n:after{
								content: "";
							}
							+ span {
								padding-left: 20px;
								font-size: 18px;
								&+p{
									padding-left: 40px;
								}
							}
						}
					}
				}
				.content_title{
					padding: 20px 0;
					pre {
						display: block;
						width: 100%;
						word-break: break-all;
						white-space: pre-line;
						font-size: 18px;
						line-height: 1.5;
						font-family: Noto Sans kr,돋움,Dotum,AppleSDGothicNeo,AppleGothic,Droid Sans;
					}
				}
				.content_area {
					padding: 20px 0;
					min-height: 120px;
					pre {
						display: block;
						width: 100%;
						word-break: break-all;
						white-space: pre-line;
						font-size: 18px;
						line-height: 1.5;
						font-family: Noto Sans kr,돋움,Dotum,AppleSDGothicNeo,AppleGothic,Droid Sans;
					}
				}
				.file_area {
					display: flex;
					padding: 20px 0;
					.sec_name {
						width: 90px;
						font-size: 16px;
						color: #222222;
						&:after{
							content: "*";
								display: inline-block;
								width: 2px;
								height: 2px;
								margin: 1px;
								color: #E4585A;
						}
					}
					.sec_file {
						a {
							display: block;
							padding-left: 20px;
							width: 19px;
							height: 22px;
							background-size: 19px 22px;
							background: url('../images/image/ico_clip.png') no-repeat left center;
							font-size: 18px;
							color: #727272;
							text-decoration: underline;
							span{
								margin-left: 8px;
								line-height: 22px;
							}
							+ a {
								margin-top: 14px;
							}
						}
					}
				}
			}
		}
		.board_top{
			&.type_back{
				background-color: #F8F8F8;
				border-radius: 6px;
				padding: 16px;
				margin-bottom: 40px;
				.bt_right{
					margin: 0 auto;
					.bt_schbox{
						.title{
							font-size: 18px;
							font-weight: 500;
							margin-right: 20px;
						}
						select{
							background-color: #fff;
						}
						.bt_select{
							margin-left: 80px;
						}
						.radio_visual{
							margin-left: 20px;
						}
					}
				}
			}
		}
		.archive{
			.title{
				font-size: 76px;
				font-weight: 600;
				line-height: 110px;
				margin-top: 100px;
				em{
					font-weight: 400;
				}
			}
			.archive_cont{
				display: flex;
				&.type_center{
					.archive_left{
						width: 100%;
						.archive_list{
							margin-top: 80px;
							ul{
								li{
									width: calc(50% - 20px);
								}
							}
						}
						.archive_top{
							.bt_sch{
								height: 62px;
								input{
									padding: 0 24px;
									font-size: 20px;
								}
							}
						}
					}
					.archive_right{
						margin-top: 44px;
						margin-left: 105px;
					}
				}
				.archive_left{
					/* ==== # 리스트 ==== */
					.archive_top{
						display: flex;
						justify-content: space-between;
						align-items: flex-end;
						margin-top: 60px;
						.bt_sch{
							width: 646px;
							height: 50px;
							border: 3px solid #222222;
							border-radius: 6px;
							font-size: 18px;
							padding: 0 40px 0 10px;
							position: relative;
							padding: 0 0 0 0;
							input {
								width: 100%;
								height: 100%;
								font-size: 18px;
								padding: 0 10px;
								border: 0 none;
								border-radius: 6px;
							}
							button {
								position: absolute;
								top: -1px;
								right: -1px;
								width: 84px;
								height: 100%;
								font-size: 18px;
								color: #FFFFFF;
								border-radius: 0 6px 6px 0;
							}
						}
					}
					.sub_wrap{
						.sub_list{
							display: flex;
							align-items: center;
							flex-wrap: wrap;
							margin-top: 26px;
							gap: 12px 12px;
							li{
								label{
									display: block;
									cursor: pointer;
								}
								input[type="checkbox"]{
									opacity: 0;
									display: none;
								}
								input:checked + .btn, .btn.on{background-color: #139274; border: 1px solid #139274; color: #fff}
								.btn{
									display: inline-block;
									padding: 8px 18px;
									font-size: 18px;
									background-color: #222;
									color: #fff;
									border: 1px solid #222;
									text-align: center;
									border-radius: 6px;
								}
							}
						}
					}
					.archive_list{
						ul{
							display: flex;
							flex-wrap: wrap;
							max-width: 650px;
							gap: 40px 26px;
							&.type_side{
								max-width: 250px;
							}
							li{
								font-size: 20px;
								font-weight: 600;
								width: 250px;
								border-bottom: 2px solid #222222;
								padding: 12px;
								background-image: url(../images/image/ico_arrow5.svg);
								background-size: 5px 10px;
								background-repeat: no-repeat;
								background-position: right 12px center;
								cursor: pointer;
								a{
									display: block;
								}
								&:hover{
									a{
										color: #F68A53;
									}
								}
								a.on{
									color:#F68A53;
								}
							}
						}
					}
				}
				.background{
					position: absolute;
					z-index: -2;
					background-color: #F6FAF9;
					width: 40%;
					height: 1114px;
					top:80px;
					right: 0px;
				}
				.archive_right{
					width: calc(100% - 250px) !important;
					margin-left: 60px;
					position: relative;
					/* Academy */
					.academy {
							margin: 0 auto;
							text-align: center;
							display: flex;
							position: relative;
							justify-content: center;
							width: 100%;
							.course_slide {
								width: 100%;
								.swiper_navi {
									.swiper_button {
										font-size: 0;
										background-position: center;
										background-repeat: no-repeat;
										position: absolute;
										z-index: 10;
										top: 45%;
										transform: translateY(-50%);
										width: 54px;
										height: 54px;

										&.swiper_next {
											right: 0;
											background-image: url(../images/image/ico_arr1.svg);
										}

										&.swiper_prev {
											left: 0;
											background-image: url(../images/image/ico_arr.svg);
										}
									}
								}

								.sliderMain {
									display: flex;
									justify-content: center;
									overflow: hidden;
									width: 100%;
									.swiper-wrapper {
										.swiper-slide {
												height: 100%;
												width: 100%;
												padding-top: 63%;
												position: relative;
												overflow: hidden;
													object-fit: cover;

												img {
													width: 100%;
													height: 100%;
													cursor: pointer;
													position: absolute;
													top: 0;
													display: block;
													object-fit: cover;
												}
										}
									}
								}
								.sliderPaging {
									overflow: hidden;
									margin-top: 19px;

									.swiper-container {
										.swiper-slide {
											img {
												width: 100%;
												height: 154px;
												object-fit: cover;
												border: 1px solid #d3d3d3;
												cursor: pointer;
											}
										}
									}
								}
							}
						}
					.effect{
						position: absolute;
						right: -130px;
						top: -150px;
						z-index: -1;
						img{
							animation: rotate360 20s linear infinite;
						}
					}
				}
			}
		}
		.slider{
			display: flex;
			justify-content: center;
			align-items: center;
			.slider-container {
				width: 914px;
				height: 522px;
				overflow: hidden;
				position: relative;
				.slide {
					width: 100%;
					height: 100%;
					object-fit: cover;
					position: absolute;
					opacity: 0;
					transition: opacity 0.5s;
					img {
					width: 100%;
					height: 100%;
					}
				}
			}
		}
		.button{
			display: flex;
			justify-content: space-between;
			position: relative;
			top:-261px;
			button {
				font-size: 0;
				&#prev{
					i{
						display: block;
						background-image: url(../images/image/ico_arr1.svg);
						width: 10.5px;
						height: 20px;
					}
				}
				&#next{
					position: absolute;
					right: 0;
					i{
						display: block;
						background-image: url(../images/image/ico_arr.svg);
						width: 10.5px;
						height: 20px
					}
				}
			}
		}
		.gallery{
			display: flex;
			justify-content: center;
			gap: 19px;
			margin-bottom: 60px;
		}
		.search_wrap{
			.search{
				display: flex;
				align-items: center;
				justify-content: center;
				padding-bottom: 60px;
				border-bottom: 1px solid #222;
				gap: 17px;
				font-size: 30px;
				line-height: 41px;
				i{
					font-size: 0;
					background-image: url(../images/image/ico_search.svg);
					display: inline-block;
					width: 27px;
					height: 29px;
					flex: 0 0 auto;
				}
				span{
					color: #F68A53;
					font-weight: 600;
				}
			}
			.search-box{
				padding-top: 40px;
				.search-list{
					display: flex;
					align-items: center;
					gap: 12px;
					margin-bottom: 30px;
					>p{
						font-size: 24px;
						color: #000;
						font-weight: 500;
					}
					>span{
						font-size: 16px;
						strong{
							color: #F68A53;
						}
					}
				}
				.desc{
					li{
						.tit{
							font-size: 18px;
							margin-bottom: 14px;
							>span{
								font-weight: 600;
							}
						}
						.txt{
							font-size: 16px;
							color: #666666;
								white-space: nowrap;
									/* 텍스트가 줄 바꿈되지 않도록 설정 */
									overflow: hidden;
									/* 넘치는 텍스트를 숨김 */
									text-overflow: ellipsis;
							>span{
								font-weight: 600;
							}
						}
						&+li{
							margin-top: 26px;
						}
					}
				}
				&+.search-box{
					border-top: 1px solid #DDDDDD;
					margin-top: 40px;
				}
			}
		}
	}
	.login_inner{
		display: flex;
		justify-content: space-between;
		.ag_inner{
			display: flex;
			flex: auto;
			flex-direction: column;
			margin: 0 50px;
			.ag_login{
				margin: 0 auto;
				padding: 283px 0 0 ;
				width: 350px;
				.ag_tit {
					font-size: 26px;
					font-weight: 600;
					line-height: 37px;
					display: flex;
					align-items: end;
					>i{
						display: inline-block;
						background-image: url(../images/image/img_bf.png);
						background-repeat: no-repeat;
						background-size: 55px 33px;
						margin-left: 13px;
						width: 55px;
						height: 54px;
					}
				}
				>p{
					font-size: 14px;
					margin-top: 14px;
					color: #666666;
				}
				.ag_cont{
					padding: 46px 0 0;
					.program_bottom{
						.common_button{
							width: 100% !important;
							height: 50px;
							line-height: 50px;
							background-color: #FFD800;
							color: #222222;
							font-size: 16px;
							display: flex;
							align-items: center;
							padding: 0 14px;
							i{
								flex: 0 0 auto;
								display: inline-block;
								font-size: 0;
								background-image: url(../images/image/ico_kakao.png);
								background-repeat: no-repeat;
								width: 34px;
								height: 34px;
							}
							span{
								flex: auto;
								margin-right: 34px;
							}
						}
						&:nth-child(2){
							margin-top: 12px;
							margin-bottom: 41px;
							padding-bottom: 40px;
							border-bottom: 1px dashed #666666;
							.common_button {
								background-color: #1FBC02;
								color: #fff;
								i{
									background-image: url(../images/image/ico_naver.png);
								}
							}
						}
						&:nth-child(3){
							margin-top: 12px;
							border: 1px solid #222;
							border-radius: 6px;
							.common_button {
								background-color: #ffffff;
								color: #222;
								display: flex;
								justify-content: center;
								align-items: center;
								i{
									background-image: url(../images/image/ico_stamp.png);
									background-size: 30px 28px;
									width: 30px;
									height: 28px;
									margin-right: 6px;
								}
								span{
									margin-right: 0;
									flex: 0 0 auto;
								}
							}
						}
					}
				}
				.sub_txt{
					font-size: 14px;
					line-height: 22px;
					color: #888888;
				}
			}
			.ag_img{
				display: flex;
				justify-content: space-between;
				align-items: end;
				img{
					&:nth-child(1) {
						width: 91px;
						height: 64px;
						margin-left: 30px;
					}
					&:nth-child(2){
						width: 178px;
						height: 233px;
					}
				}
			}
		}
		.login_side{
			flex: 0 0 auto;
			width: 49%;
			img{
				height: 965px;
				object-fit: cover;
			}
		}
	}
	.program_wrap{
		&.type_info{
			margin-top: 40px;
			.program-box{
				display: block;
				.program-list{
					display: flex;
					margin-top: 60px;
					&.type_traf{
						.desc{
							>p{
								margin-bottom: 24px;
								font-size: 18px;
								display: flex;
								align-items: center;
								i{
									font-size: 0;
									background-image: url(../images/image/ico_car.svg);
									display: inline-block;
									width: 26px;
									height: 20px;
									margin-right: 6px;
								}
							}
							width: 100%;
							.date-tbl{
								.tbl-head{
									.h-col{
										flex: auto;
										&:nth-child(1){
											width: 157px !important;
											flex: 0 0 auto;
										}
										&.type_no{
											border-left: 0 !important;
										}
									}
								}
								.tbl-body {
									.row {
										&.type_no {
											.d-col{
													border-right: 0px;
												.col-txt{
													border-right: 0;
												}
											}
											}
										.d-col {
											flex: auto;
											text-align: left;
											&:nth-child(1) {
												width: 157px !important;
												flex: 0 0 auto;
											}
											.col-txt{
											padding-left: 40px;
												span{
													font-size: 15px;
													&+span{
														&::before{
															content:"";
															display: inline-block;
															background-image: url(../images/image/ico_arrow5.svg);
															background-size: 6px 12px;
															width: 6px;
															height: 12px;
															margin: 0 8px;
														}
													}
													>em{
														font-weight: 600;
													}
												}
											}
										}
									}
								}
							}
						}
					}
					.tit{
						flex: 1;
						background-color: #fff;
						color: #222;
						padding: 0;
						display: flex;
						text-align: left;
						flex-direction: column;
						gap: 4px;
						&>em{
							color: #139274;
							font-size: 18px;
						}
						&>span{
							font-size: 30px;
							font-weight: 600;
							line-height: 44px;
						}
					}
					.desc{
						width: 992px;
						border: 0;
						padding: 0;
						height: auto;
						.date-tbl{
							margin: 0;
							.tbl-head{
								font-weight: 500;
								background-color: #fff;
								border: 0;
								border-top: 2px solid #222;
								.h-col{
									padding: 26px 0;
									font-size: 20px;
									border: 1px solid #DDDDDD;
									border-right: 0;
									flex:1;
									&:nth-child(1){
										border-left: 0;
									}
									&.w-2{
										flex: 2;
									}
								}
							}
							.tbl-body{
								.row{
									.d-col{
										display: flex;
										align-items: center;
										justify-content: center;
										font-size: 18px;
										line-height: 26px;
										border-bottom: 1px solid #DDDDDD;
										border-right: 1px solid #DDDDDD;
										flex-direction: column;
											padding: 0;
										&:last-child{
											border-right: none;
										}
										&.type_b{
											font-weight: 600;
										}
										.col-txt{
											flex: 1;
											display: block;
											width: 100%;
											padding: 23px 0;
											border-top: 1px solid #DDDDDD;
											&:nth-child(1){
												border-top: 0;
											}
											&.type_p{
												padding: 10px 0;
											}
											>span{
												font-size: 16px;
											}
										}
									}
								}
							}
							.tbl-txt{
								margin-top: 24px;
								font-size: 18px;
								line-height: 26px;
								&.type_s{
									margin-top: 12px;
								}
								&>li{
									display: flex;
									align-items: start;
									&+li{
										margin-top: 12px;
									}
									i{
										content: url(../images/image/ico_circle.svg);
										display: inline-block;
										margin-right: 10px;
										margin-top: 12px;
									}
								}
							}
							em{
								color: #139274;
							}
							>span{
								font-size: 20px;
								line-height: 29px;
								font-weight: 500;
							}
							p{
								margin-top: 40px;
								font-size: 18px;
								line-height: 26px;
								&.title{
									font-size: 20px;
									margin-top: 20px;
									display: flex;
									align-items: center;
									i{
										background-image: url(../images/image/ico_error.svg);
										display: inline-block;
										width: 20px;
										height: 20px;
										margin-right: 10px;

									}
								}
							}
						}
					}
				}
				.program_complete{
					margin-top: 80px;
								display: block;
									clear: both;
					.complete{
						position: relative;
						padding-top: 23.5%;
						.complete_top{
							color: #fff;
							height: 100%;
							width: 100%;
							top: 0px;
							display: block;
							position: absolute;
							object-fit: contain;
							padding-top: 50px;
							.ent_tit{
								font-size: 30px;
								font-weight: 600;
								line-height: 44px;
							}
							.ent_sub{
								margin-top: 20px;
								font-size: 18px;
							}
							.ent_cont{
								margin-top: 15px;
								font-size: 38px;
								font-weight: 600;
								line-height: 52px;
							}
							.ent_txt{
								margin-top: 20px;
								font-size: 16px;
								line-height: 24px;
								font-weight: 400;
								em{
									font-weight: 600;
								}
								+.ent_txt{
									margin-top: 6px;
								}
							}
						}
					}
				}
			}
		}
		.traffic{
			display: block;
				clear: both;
			.traffic_map{
				position: relative;
				padding-top: 41.5%;
				.main{
					height: 100%;
					width: 100%;
					top: 0px;
					display: block;
					position: absolute;
					object-fit:contain;
				}
				.location{
					font-size: 0;
					position: absolute;
					display: block;
					background-image: url(../images/image/ico_location_off.svg);
					background-size: 22px 29px;
					background-position: center;
					width: 22px;
					height: 29px;
					&.one{
						left:61%;
						top: 31%;
					}
					&.two {
						left: 53%;
						top: 42%;
					}
					&.three {
						left: 37%;
						top: 55%;
					}
					&.four {
						left: 68%;
						top: 50%;
					}
					&.on{
						background-image: url(../images/image/ico_location_on.svg);
						&:before{
							content: url(../images/image/ico_tell.svg);
							display: block;
							width: 230px;
							height: 140px;
							position: absolute;
							top: -150px;
							left: -105px;

						}
					}
				}
			}
		}
		&.type_reserve{
			margin-top: 48px;
			&>p{
				font-size: 18px;
				font-weight: 600;
				margin-bottom: 20px;
			}
			.complete_table{
				margin-top: 0px;
			}
		}
	}
	.type_fac{
		.map-box{
			.map-img{
				margin-top: auto;
			}
		}
		.trace_wrap{
			.w_set{
				.tit{
					font-size: 40px;
					line-height: 42px;
				}
				.cont{
					span{
						display: block;
						text-align: center;
						margin-top: 40px;
						font-size: 24px;
						line-height: 36px;
						>strong{
							font-weight: 600;
						}
					}
				}
				.facility_img {
					margin-top: 60px;
					padding-bottom: 31%;
					background: url('../images/sub/img_facility_course_01.png') no-repeat center;
				}
				.script{
					display: block;
					color: #666666;
					font-size: 18px;
					line-height: 26px;
					margin-top: 60px;
				}
			}
		}
		.w_set{
			.image_view{
				margin-top: 60px;
			}
			.video{
				position: relative;
				margin-top: 80px;
				.over{
					position: absolute;
					z-index: 10;
					i{
						background-image: url(../images/sub/ico_click.svg);
						display: inline-block;
						width: 40px;
						height: 40px;

					}
				}
				.gradeition{
					position: absolute;
					z-index: 1;
					height: 422px;
					width: 100%;
					padding-bottom: 30%;
					background-color: #000000;
					opacity: 0.42;
				}
			}
		}
	}
}
//NOTE 모바일 mobile
@include mobile{
	.scroll-wrap{
	overflow-x: auto;
		.scroll{
			min-width: 600px;
			&:-webkit-scrollbar {
				width: 0.5em;
			}
			&:-webkit-scrollbar-thumb {
				background-color: transparent;
			}
		}
	}
	//input
	.ag_input_wrap{
		.file_list{
			li{
				margin-top: 21px;
				padding-right: 30px;
				span{
					font-size: 11px;
					&:before{
						background-size: 14px 16px;
						width: 14px;
						height: 16px;
					}
				}
				.btn{
					width: 16px;
				}
			}
		}
		.file_area{
			.bm_button{
				font-size: 14px;
			}
		}
		.input_tit{
			font-size: 14px;
			padding-bottom: 8px;
			span{
				font-size: 12px;
				padding-left: 6px;
			}
		}
	}
	//이미지 리스트
	.tab_container {
		.tab_cnt{
			.photolist{
				margin: 20px -10px;
				li{
					width: calc(50% - 20px);
					margin: 20px 10px;
					.title{
						.name{
							margin-top: 12px;
							font-size: 15px;
							line-height: 20px;
						}
						.date{
							margin-top: 10px;
							font-size: 12px;
							height: 14px;
						}
					}
				}
			}
		}
	}
	//모바일 숨기기
	.hide_m{
		display: none !important;
	}
	//pc숨기기
	.hide_pc{
		display: block !important;
	}
	#content{
		.w_set{
			.member{
				.inquire{
					.left{
						display: none;
					}
					.right{
						border: 0;
						.ag_input{
							padding-bottom: 0;
							border: 0;
							.ag_input_wrap{
								margin-top: 20px;
								input{
									width: 100%;
									padding: 0 12px;
									font-size: 14px;
								}
								.certify{
									display: flex;
									align-items: center;
									.hyphen{
										margin: 0 7px;
										display: inline-block;
										flex: 0 0 auto;
									}
									.hyphen1{
										margin: 0 12px;
										font-size: 14px;
									}
									#agEmail01{
										width: 126px;
									}
								}
								textarea{
									padding: 12px;
									font-size: 14px;
									margin-top: 8px;
								}
							}
						}
					}
				}
			}
			.pagination{
				margin-top: 40px;
				display: flex;
				justify-content: space-between;
			}
			.inquiry_view {
					.answer{
					margin-top: 36px;
					&>p{font-size: 18px;}
					.article{
						.content_title{
							padding: 12px 0;
							pre{
								font-size: 16px;
							}
						}
						.add_area{
							border-bottom: 0;
							flex-direction: column;
							gap: 12px;
							padding: 12px 0 0 0;
							li{
								flex-direction: column;
								p{
									padding-bottom: 6px;
									font-size: 14px;
									color: #666666;
								}
								span{
									font-size: 16px;
								}
							}
						}
						.add_area li>p+span{
							padding: 0;
						}
					}
				}
			}
			.nums{
				a{
					margin: 0 4px;
				}
			}
			.board_top{
				&.type_back{
					padding: 17px 20px;
					margin-bottom: 16px;
					.bt_right{
						.bt_schbox{
							justify-content: center;
							.title{
								font-size: 18px;
								font-weight: 500;
								margin-right: 20px;
							}
							select{
								background-color: #fff;
							}
							.bt_select{
								margin-left: 80px;
							}
							.radio_visual{
								margin-left: 0px;
								&+.radio_visual{
									margin-left: 32px;
								}
								.txt{
									font-size: 16px;
								}
							}
						}
					}
				}
			}
			.archive{
				.title{
					display: none;
				}
				.archive_cont{
					width: 100%;
					&.type_center {
						.archive_left {
							.sub_wrap .sub_list li .btn{
								font-size: 16px;
								padding: 6px 12px;
							}
							.archive_top .bt_sch{
								height: 42px;
								width: 100%;
								input{
									font-size: 15px;
									padding: 0 14px;
								}
								button{
									width:37px;
									top:-3px;
									img{
										width: 19px;
										height: 21px;
									}
								}
							}
							.archive_list {
								ul {
									width: 100%;
									max-width: 100%;
									li {
										width: 100%;
										padding: 13px 14px;
									}
								}
							}
						}
					}
					.archive_left{
						.sub_wrap{
							.sub_list{
								gap: 8px 8px;
								margin-top: 12px;
								li{
									.btn{
										font-size: 12px;
										padding: 5px 10px;
									}
								}
							}
						}
						.archive_top{
							margin-top: 40px;
						}
						.archive_list{
							margin-top: 60px;
							ul{
								gap: 30px 26px;
								li{
									background-position: right 4px center;
									a{
										font-size: 18px;
										color: #222;
										display: block;
									}
								}
							}
						}
					}
					.background{
						display: none;
					}
					.archive_right{
						margin-left: 0;
						width: 100% !important;
						.inquiry_view.type_archive
						.board_bottom{
							margin-top: 40px;
						}
						.academy{
							.course_slide{
								width: 100%;
								.swiper_navi{
									margin-top: 20px;
									display: flex;
									justify-content: center;
									align-items: center;
									gap: 20px;
									.swiper_button{
										position:static;
										vertical-align: middle;
										margin-top: 10px;
										display: block;
										width: 5px;
										height: 10px;
										background-size: 5px 10px;
										&.swiper_next {
											background-image: url(../images/image/ico_arr3.svg);
										}

										&.swiper_prev {
											background-image: url(../images/image/ico_arr4.svg);
										}
									}
									.color{
										font-size: 14px;
										em{
											color:#F68A53;
										}
									}
								}
								.sliderMain{
									max-width: 100%;
									width: 100%;
									.swiper-wrapper{
										.swiper-slide{
											width: 100% !important;
										}
									}
								}
							}
						}
					}
				}
			}
			.program_wrap {
				&.type_info {
					margin-top: 0;
					.program-box {
						display: block;
						.program_complete{
							margin-top: 0;
						}
						.program-list{
							flex-direction: column;
							gap: 20px;
							margin-top: 36px;
							.tit{
								span{
									font-size: 18px;
									line-height: 26px;
								}
							}
							.desc{
								width: auto;
								margin-top: 20px;
								&.type_no{
									margin-top: 0;
								}
								.date-tbl{
									.tbl-head{
										border-top: 1px solid #222;
										.h-col{
											font-size: 16px;
											padding: 12px 0;
											&.type_s{
												width: 110px !important;
											}
											&:nth-child(1){
													padding-left: 13px;
											}
										}
									}
									.tbl-body{
										.row{
											&.type_no {
													.d-col {
														border-right: 0px;
														&:nth-child(1) {
																padding-left: 0px;
																padding-top: 0px;
															}
														&.type_b {
															width: 110px !important;
														}
														}
													}
											.d-col{
												font-size: 14px;
												line-height: 20px;
												align-items: start;
												justify-content: start;
												&:nth-child(1){
													padding-left: 12px;
													padding-top:12px;
												}
												.col-txt{
													padding: 12px 0;
													text-align: left;
													padding-left: 12px;
													&.type_p{
														padding: 12px 0;
														padding-left: 12px;
														span{
															font-size: 10px;
														}
													}
												}
											}
										}
									}
								}
							}
							span{
								font-size: 14px !important;
							}
							.tbl-txt{
								font-size: 14px;
								line-height: 20px;
								li{
									span{
										font-size: 14px;

									}
									i{
										margin-right: 8px;
										margin-top: 9px;
									}
								}
							}
							p{
								font-size: 14px !important;
								line-height: 20px !important;
								margin-top: 20px !important;
							}
						}
						.program_complete{
							margin-left: -16px;
							margin-right: -16px;
							.complete{
								padding-top: 50.5%;
								.complete_top{
									background: url(../images/sub/bg_complete.png) no-repeat center;
									background-size: cover;
									.ent{
										position: absolute;
										top: 50%;
										left: 50%;
										transform: translate(-50%,-50%);
										width: 100%;
										.ent_tit{
											font-size: 20px;
											line-height: 23px;
										}
										.ent_sub{
											font-size: 14px;
											line-height: 20px;
											margin-top: 12px;
										}
										.ent_cont{
											margin-top: 0;
											font-size: 20px;
											line-height: 29px;
										}
										.ent_txt{
											font-size: 12px;
											margin-top: 12px;
										}
									}
								}
							}
						}
					}
				}
				.traffic{
					height: 360px;
					.traffic_map{
						padding-top: 0;
						height: 360px;
						.main{
							height: 360px;
							object-fit: cover;
						}
						.location{
							&.on{
								left: 30%;
								&::before{
									content: url(../images/image/iimg_map2.svg);
								}
							}
						}
					}
				}
			}
		}
		.login_inner{
			.ag_inner{
				margin: 0 16px;
				margin-bottom: 14px;
				.ag_login{
					padding: 88px 0 0;
					width: 100%;
					.ag_tit{
						justify-content: start;
						font-size: 24px;
						line-height: 35px;
						height: 35px;
					}
					>p{
						text-align: left;
						color: #888888;
						font-size: 14px;
						margin-top: 6px;
					}
					.ag_cont{
						padding-top: 60px;
						padding-bottom: 80px;
						.program_bottom{
							.common_button{
								span{
									height: 42px;
									line-height: 42px;
									font-size: 14px;
								}
							}
						}
					}
				}
				.ag_img{
					img{
						&:nth-child(1) {
							width: 55px;
							height: 38px;
							margin-left: 0px;
						}
						&:nth-child(2){
							width: 97px;
							height: 127px;
						}
					}
				}
			}
			.login_side{
				display: none;
			}
		}
	}

	//전체 버튼
	.common_button {
		width: 100% !important;
	}
}




//NOTE 이사님이 넣어두셨어요
@media (max-width: 768px){
.tab_container .tab_cnt .photolist {
		margin: 20px -10px;
		&.type_promotion{
			margin: 0;
			li{
				width: 100% !important;
				margin: 0;
				.title{
					.tit{
						flex-direction: column;
						gap: 8px;
						padding-bottom: 12px;
						padding-top: 20px;
						margin-bottom: 12px;
						.name{
							font-size: 18px;
							line-height: 26px;
						}
						.date{
							font-size: 15px;
							line-height: 20px;
						}
					}
					.cont{
						color:#666666;
						font-size: 14px;
						line-height: 22px;
					}
				}
			}
		}
		li {
			width: calc(50% - 20px) !important;
			margin: 20px 10px;
			.title .name {
				margin-top: 12px;
				font-size: 15px;
				line-height: 20px;
			}
			.title .date {
				margin-top: 10px;
				font-size: 12px;
				height: 14px;
			}
		}
	}
}
@media (max-width: 480px) {
	.tab_container .tab_cnt .photolist {
		&.type_promotion{
			li{
				a{
					.play{
						width: 32px;
					}
				}
			}
		}
		margin: -20px 0 0 0;
		li {
			width: 100% !important;
			margin: 20px 0;
			a{
				.play{
					width: 42px;
					margin-top: -20px;
				}
			}
		}
	}
}

//안내도 아래 마진 제거
.footer{
	&.type_mno{
		margin-top: 0;
	}
}

//숨김
.blind {
	display: block;
	overflow: hidden;
	position: absolute;
	top: -1000em;
	left: 0;
}

//안내도 말풍선
#map {
	height: 580px;
	background-color: antiquewhite;
	background-image: url(../images/image/img_map.png);
	object-fit: cover;
	background-position: center;
	background-size: cover;
}
#map .wrap {
	position: relative;
	z-index: 10;
	// left: 50%;
	// top: -200px;
	//조정 필요
	width: 260px;
	margin: -3px;
	&.type_tra{
		width: 232px;
		.info{
			height: auto;
			overflow: auto;
			.body{
				justify-content: center;
				.desc{
					overflow: auto;
					height: auto;
					.ellipsis{
						text-align: center;
						font-size: 14px;
						line-height: 19px;
					}
				}
			}
		}
	}
	.info {
		border-radius: 6px;
		overflow: hidden;
		background: #fff;
		padding: 14px;
		.title {
			display: flex;
			justify-content: end;
			align-items: end;
			.close {
				width: 8px;
				height: 8px;
				background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
				background-size: 8px 8px;
				cursor: pointer;
			}
		}
		.logo{
			display: flex;
			justify-content: center;
			margin-bottom: 20px;
		}
		.body {
			display: flex;
			.img {
				flex:0 0 auto;
				width: 80px;
				height: 80px;
				border: 1px solid #ddd;
			}
			.desc {
				margin-left: 10px;
				max-width: 126px;
				.ellipsis {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					color: #222222;
					font-size: 16px;
					font-weight: 500;
				}
				.link {
					display: flex;
					align-items: center;
					margin-top: 6px;
					color: #222222;
					&:after {
						content: '';
						display: inline-block;
						margin-left: 6px;
						width: 4px;
						height: 9px;
						background: url('../images/image/ico_arr6.svg');
						background-size: 4px 9px;
					}
				}
			}
		}
	}
	i { // 말풍선 화살표
		display: block;
		margin: 0 auto;
		width: 0;
		height: 0;
		border: 10px solid transparent;
		border-bottom: 20px solid #ffffff;
		transform: rotate(180deg);
	}
}

@include mobile{
	#map{
		height: 360px;
	}
	#map .wrap{
		background-image: url(../images/image/ico_tell3.svg);
		background-repeat: no-repeat;
		max-width: 154px;
		.info{
			height: 70px;
			padding: 10px 12px;
			.img {
				display: none;
			}
			.title{
				align-items: start;
				justify-content: stretch;
				padding-bottom: 8px;
				p{
					text-align: center;
					flex: auto;
					padding-right: 5px;
				}
			}
			.desc{
				padding: 0;
				margin: 0 !important;
				.ellipsis {
					font-size: 14px;
					font-weight: 500;
				}
				.link{
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 12px;
					padding-top: 7px;
				}
			}
		}
	}
}