/* 공통 */
/* ===== check ===== */
.program_wrap .checkbox{display: inline-flex;position: relative;align-items: center; vertical-align: top;}
.program_wrap .checkbox input[type="checkbox"], .program_wrap .checkbox input[type="radio"]{overflow: hidden;position: absolute;width: 1px;height: 1px;margin: -1px;clip: rect(0 0 0 0);}
.program_wrap .checkbox .label{display: inline-flex;position: relative;width: auto;min-height: 16px;padding: 0 0 0 30px;font-size: 16px;line-height: 1;color: #222;text-align: left;white-space: normal;cursor: pointer;align-items: center;}
.program_wrap .checkbox .label::before{content: '';position: absolute;top: 50%;left: 0;transform: translateY(-50%);width: 18px;height: 18px;border: 1px solid #D3D3D3;background-color: #fff;border-radius: 2px;}
.program_wrap .checkbox input:checked + .label::before{background-color: #333;background-image: url(../images/common/ico_checkbox_on.png);}
.program_wrap .checkbox .label.font-0{font-size: 0;padding: 0 0 0 18px;}

.program_wrap .radiobox{display: inline-flex;position: relative;align-items: center; vertical-align: top;}
.program_wrap .radiobox input[type="radio"], .program_wrap .radiobox input[type="checkbox"]{overflow: hidden;position: absolute;width: 1px;height: 1px;margin: -1px;clip: rect(0 0 0 0);}
.program_wrap .radiobox .label{display: inline-flex;position: relative;width: auto;min-height: 20px;padding: 0 0 0 40px;font-size: 16px;line-height: 1;color: #222;text-align: left;white-space: normal;cursor: pointer;align-items: center;}
.program_wrap .radiobox .label::before{content: '';position: absolute;top: 50%;left: 0;transform: translateY(-50%);width: 20px;height: 20px;background-color: #fff;border: 1px solid #707070;border-radius: 50%;background-repeat: no-repeat;background-position: 50% 50%;}
.program_wrap .radiobox input:checked + .label::before{background-color: #139274; background-image: url(../images/common/ico_radio_on.png);}
.program_wrap .radiobox input:checked + .label + .inner-input{display: inline-block;}
.program_wrap .radiobox .label.font-0{font-size: 0;padding: 0 0 0 20px;}

.top_menu {display: flex; justify-content: space-between;}
.top_menu li{flex: 0 0 auto;}
.top_menu li .course {display: flex;align-items: center;gap: 20px;}
.top_menu li .course .image{flex: 0 0 auto;width: 80px;height: 80px;border-radius: 50%;background-repeat: no-repeat;background-size: cover;background-position: center;}
.top_menu li .course .desc{color: #666;font-size: 16px;line-height: 20px;transition: all .35s;}
.top_menu li .course .txt{display: block;font-family: 'GodoB';font-size: 25px;line-height: 1;color: #222;padding-top: 8px;transition: all .35s;}
.top_menu li:hover .desc, .top_menu li:hover .txt, .top_menu li.on .desc, .top_menu li.on .txt {color: #F68A53;}


/* === 체험프로그램 === */
.reserve_list li{position: relative; display: flex; width: 100%; padding: 40px; border: 1px solid #DDDDDD; border-radius: 16px; overflow: hidden;}
.reserve_list li:not(:first-child){margin-top: 40px;}
.reserve_list li .img_box{border: 0; width: 422px; height: 359px;}
.reserve_list li .txt_box{padding-left: 40px; width: calc(100% - 422px);}
.reserve_list li .txt_box .tit{font-size: 24px; font-weight: 600;}
.reserve_list li .txt_box .info{font-size: 18px; line-height: 26px; color: #666; word-break: keep-all; padding: 26px 0; overflow:hidden; text-overflow: ellipsis; -webkit-box-orient:vertical; display:-webkit-box; -webkit-line-clamp:2; max-height:80px;}

.reserve_list li .txt_box p.be{font-size: 16px; line-height: 26px; color: #222; margin-bottom: 12px;}
.reserve_list li .txt_box p.be:last-of-type{margin-bottom: 0;}
.reserve_list li .txt_box p.be span{word-break: keep-all; display: table-cell;}
.reserve_list li .txt_box p.be .be_tit{width: 88px; font-weight: 600; white-space: nowrap;}
.reserve_list li .txt_box p.be em{color: #F68A53;}

.reserve_list li .txt_box .btn_area{text-align: center; position: absolute; right: 40px; bottom: 40px;}
.reserve_list li .txt_box .btn_area .btn{width: 160px; height: 46px; line-height: 44px; font-size: 16px; background-color: #222; color: #fff; border: 1px solid #222; border-radius: 6px;-webkit-border-radius:6px;-moz-border-radius: 6px;}
.reserve_list li .txt_box .btn_area .btn span{padding-right: 13px; background: url(../images/sub/arrow_right.png) no-repeat right 7px;}


/* 체험프로그램_예약 */
.program_select {display: flex;justify-content: flex-end;}
.program_select .menu_select {position: relative; width: 360px;}
.program_select .menu_select .select_now {width: 100%;height: 50px;line-height: 48px; padding: 0 34px 0 20px;font-size: 16px;color: #fff;text-align: left;background: #666666 url("../images/sub/sub_select_arr_w.svg") no-repeat right 20px top 50%;background-size: 13px 8px; border-radius: 6px;}
.program_select .menu_select .menu_select_space {visibility: hidden;position: absolute;z-index: 35;padding-top: 10px;top: 100%;left: 0;width: 100%;}
.program_select .menu_select .menu_select_list {width: 100%;padding: 20px;background: #fff;border-radius: 6px;box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);}
.program_select .menu_select .menu_select_list li + li {padding-top: 14px;}
.program_select .menu_select .menu_select_list li a {font-size: 15px;color: #222222;}
.program_select .menu_select:hover .menu_select_space, .program_select .menu_select:focus .menu_select_space, .program_select .menu_select.on .menu_select_space {visibility: visible;}

.program_wrap .program-box{display: flex;gap: 10px; margin-top: 40px;}
.program_wrap .program-box .program-list{flex: 1;}
.program_wrap .program-box .program-list .tit{text-align: center;background-color: #139274;color: #fff;padding: 15px 0 16px;font-size: 18px;}
.program_wrap .program-box .program-list .tit span{font-weight: 600;font-size: 20px;}

.program_wrap .program-box .program-list .desc{padding: 40px 20px;border: 1px solid #ddd;height: 540px;}

.calendar_box{}
.calendar_box .clndr-controls{display: flex; align-items: center; justify-content: center; gap: 27px;}
.calendar_box .clndr-controls .month{font-weight: 500; font-size: 18px;}
.calendar_box .clndr-controls .clndr-previous-button,
.calendar_box .clndr-controls .clndr-next-button{display: block; width: 24px; height: 24px; border-radius: 50%; background: #F4F4F4 url(../images/common/ico_calendar_prev.svg) no-repeat center; font-size: 0; cursor: pointer;}
.calendar_box .clndr-controls .clndr-next-button{background-image: url(../images/common/ico_calendar_next.svg);}

.calendar_box .clndr .clndr-table{width: 100%; text-align: center; margin-top: 21px; border-top: 2px solid #222;}

.calendar_box .clndr .header-day {padding: 14px 0; font-size: 16px;}
.calendar_box .clndr table tr th:first-child, .calendar_box .clndr table tr td:first-child button{color: #ff0000; }
.calendar_box .clndr table tr th:last-child, .calendar_box .clndr table tr td:last-child button{color: #296ddd; }
.calendar_box .clndr table td{border: 1px solid #D3D3D3; width: 14.28%; height: 61px;vertical-align: middle;}
.calendar_box .clndr table td button{font-family: 'Open Sans', 'Noto Sans KR', sans-serif;; width: 100%;height: 100%; font-size: 16px;color: #222;}
.calendar_box .clndr table td.past{background-color: #F8F8F8;}
.calendar_box .clndr table td.today{background-color: #139274;}
.calendar_box .clndr table td.today button{color: #fff;}
.calendar_box .clndr table td.next-month * {display: none;}
.calendar_box .clndr table td.select{background-color: #F68A53;}
.calendar_box .clndr table td.select button{color: #fff;}
.calendar_box .clndr table td .day-contents {font-size: 16px;color: #222; line-height: 1;}
.calendar_box .clndr table td.select .day-contents {color: #fff;}
.calendar_box .clndr table td div {line-height: 1;}
.calendar_box .clndr table td .reserve {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    font-size: 10px;
    background-color: #ed7d31;
    color: #fff;
    width: calc(100% - 6px);
    margin: 0 3px 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.calendar_box .clndr table td .reserve.finish {
    background-color: #626262;
}

.program_wrap .program-box .program-list .desc .selectlist{display: flex; margin-top: 24px;}
.program_wrap .program-box .program-list .desc .selectlist p{margin-right: 20px; display: flex; align-items: center; font-size: 16px;}
.program_wrap .program-box .program-list .desc .selectlist p .square{width: 16px;height: 16px;border: 1px solid #D3D3D3;display: inline-block;margin-right: 10px; background-color: #fff;}
.program_wrap .program-box .program-list .desc .selectlist p .square.today{background-color: #139274;}
.program_wrap .program-box .program-list .desc .selectlist p .square.non{background-color: #ddd;}
.program_wrap .program-box .program-list .desc .selectlist p .square.select{background-color: #F68A53;}

.program_wrap .program-box .program-list .desc .datebox .date-list{display: flex; align-items: center; justify-content: space-between;font-size: 16px; margin-top: 10px;}
.program_wrap .program-box .program-list .desc .datebox .date-list:first-child{margin-top: 0;}
.program_wrap .program-box .program-list .desc .datebox .datebox-tit{color: #666;}
.program_wrap .program-box .program-list .desc .datebox .datebox-desc{font-family: 'Open Sans', 'Noto Sans KR', sans-serif;}

.program_wrap .program-box .program-list .desc .datebox.type_bg {border: 1px solid #D3D3D3; border-top: 2px solid #222; background-color: #F8F8F8; padding: 16px 20px;}
.program_wrap .program-box .program-list .desc .datebox.type_bg .datebox-desc{font-weight: 600;}

.program_wrap .program-box .program-list .desc .date-tbl{margin-top: 23px;}
.program_wrap .program-box .program-list .desc .date-tbl .tbl-head{background-color: #F8F8F8;display: flex;border: 1px solid #D3D3D3;border-top: 2px solid #222;}
.program_wrap .program-box .program-list .desc .date-tbl .tbl-head .h-col{flex: 1;padding: 18px 0; font-size: 16px;}
.program_wrap .program-box .program-list .desc .date-tbl .tbl-head .h-col{text-align: center;border-right: 1px solid #ccc;}
.program_wrap .program-box .program-list .desc .date-tbl .tbl-head .h-col:last-child{border-right: 0;}

.program_wrap .program-box .program-list .desc .date-tbl .tbl-body .row{display: flex;}
.program_wrap .program-box .program-list .desc .date-tbl .tbl-body .row .d-col{font-family: 'Open Sans', 'Noto Sans KR', sans-serif;flex: 1;padding: 14px 0; font-size: 16px;text-align: center;border-bottom: 1px solid #ccc;border-right: 1px solid #ccc;position: relative;}
.program_wrap .program-box .program-list .desc .date-tbl .tbl-body .row .d-col:last-child{border-right: none;}
.program_wrap .program-box .program-list .desc .date-tbl .txt{font-size: 16px; color: #666; padding-top: 10px; text-align: right;}

.program_wrap .program-box .program-list .desc .input-wrap{padding-top: 16px;}
.program_wrap .program-box .program-list .desc .input-wrap dl{display: flex; width: 100%;}
.program_wrap .program-box .program-list .desc .input-wrap dl:not(:first-child){margin-top: 16px;}
.program_wrap .program-box .program-list .desc .input-wrap dt{width: 120px; font-size: 16px; margin-top: 12px; flex: 0 0 auto;}
.program_wrap .program-box .program-list .desc .input-wrap dt span{color: #E4585A;}
.program_wrap .program-box .program-list .desc .input-wrap dd{display: flex; align-items: center; width: 100%; }
.program_wrap .program-box .program-list .desc .input-wrap dd input{width: 100%; height: 50px; border: 1px solid #D3D3D3; border-radius: 3px; padding: 0 10px; font-size: 16px;}
.program_wrap .program-box .program-list .desc .input-wrap dd .add_txt{margin-left: 10px; font-size: 16px;}
.program_wrap .program-box .program-list .desc .input-wrap dd textarea{width: 100%; height: 155px; border: 1px solid #D3D3D3; border-radius: 3px; resize: none; padding: 10px; font-size: 16px;}

.program_wrap .privacy_info{margin-top: 40px;}
.program_wrap .privacy_info .tit{display: block;font-size: 18px;font-weight: 600;}
.program_wrap .privacy_info .tit em{color: #F68A53;}
.program_wrap .privacy_info .txt_box{margin-top: 15px; padding: 20px; font-size: 16px; border: 1px solid #ddd;}
.program_wrap .privacy_info .txt_box p{line-height: 32px; }
.program_wrap .privacy_info .txt_box p:first-child{margin-top: 0;}
.program_wrap .privacy_info .txt_box .agree{display: block; margin-top: 20px; font-weight: 500;}
.program_wrap .privacy_info .txt_box .sub_tit{font-weight: 500;}
.program_wrap .privacy_info .checkbox{display: block;margin-top: 14px;}

.program_wrap .program_bottom{margin-top: 80px; text-align: center;}

/* 체험프로그램_예약완료 */
.program_wrap .program_complete .complete_top{height: 330px; background: url('../images/sub/bg_complete.png') no-repeat center; background-size: cover; text-align: center; padding-top: 89px;}
.program_wrap .program_complete .complete_top .txt{font-weight: 500; font-size: 26px; color: #fff; padding-top: 114px; background: url('../images/sub/ico_program_complete.svg') no-repeat top center; background-size: 84px;}
.program_wrap .require:before{content: "*"; display: inline-block; width: 2px; height: 2px; margin-right: 10px; color: #E4585A;}

.program_wrap .complete_table{margin-top: 40px; width: 100%; border-top: 2px solid #222; border-bottom: 1px solid #ddd; }
.program_wrap .complete_table li{display:table;table-layout: fixed; width: 100%;}
.program_wrap .complete_table li div{display: table-cell;font-size: 16px; padding: 23px 0;}
.program_wrap .complete_table li .tit{background-color: #F8F8F8; width: 326px; border-bottom: 1px solid #fff; text-align: center;}
.program_wrap .complete_table li .tit:after{content: "*"; display: inline-block; width: 2px; height: 2px; margin: 1px; color: #E4585A;}
.program_wrap .complete_table li .tit.n:after{content: "";}
.program_wrap .complete_table li .txt{width: calc(100% - 326px); border-bottom: 1px solid #ddd; padding-left: 30px;}


/* === 마이페이지 === */
/* 스탬프투어 */
.tour_list{}
.tour_list ul {max-width: 1329px; display: flex;flex-wrap: wrap;margin: 0 auto;}

.tour_list li {text-align: center; position: relative; z-index: 1; flex: 0 1 25%; padding: 0 8px 92px; box-sizing: border-box; }

.tour_list li .input_area.add_photo{width: 222px;height: 222px; margin: 0 auto;}
.tour_list li .input_area.add_photo input[type="file"]{width: 1px !important;height: 1px !important;position: absolute;opacity: 0;}
.tour_list li .input_area.add_photo i{}
.tour_list li .input_area.add_photo .btn{display: block; width: 100%; height: 100%; border-radius: 50%; text-indent: -9999em;overflow: hidden; background-size: 24px; background: #F8F8F8 url("../images/sub/ico_add_photo.svg") no-repeat center; cursor: pointer;}
.tour_list li .image{width: 222px;height: 222px; margin: 0 auto; position: relative; border-radius: 50%; overflow: hidden;}
.tour_list li .image img{position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover; background-color: #fff;}
.tour_list li .txt{font-family: 'GodoB'; display: inline-flex; align-items: center; padding: 0 14px 0 4px; background-color: #139274; border-radius: 15px; font-size: 16px; color: #fff; margin-top: 24px; height: 30px; line-height: 28px;}
.tour_list li .txt .num{display: inline-block; width: 22px;height: 22px; line-height: 22px; border-radius: 50%;background-color: #fff;font-size: 18px;text-align: center; color: #139274; margin-right: 8px;}

.tour_list .board_bottom{margin-top: 0; text-align: center;}
.tour_list .board_bottom .common_button span{padding-left: 32px; background: url('../images/sub/ico_stamptour_btn.svg') no-repeat left center;}
#wrap .tour_list .board_bottom .common_button{width: 300px;}

/* 완주인증서 */
body.bg{background: linear-gradient(270deg, #F4FAFA, #F6F9FA);}

.cetificate_wrap{padding-bottom: 100px;}
.cetificate_wrap .certificate_top{background-color: #fff;padding: 21px 0;}
.cetificate_wrap .certificate_top .w_set{display: flex;justify-content: space-between;align-items: center;}
.cetificate_wrap .certificate_top .btn_back{text-indent: -9999em;display: inline-block;width: 40px;height: 40px;background: url('../images/sub/btn_back.svg') no-repeat center;}
.cetificate_wrap .certificate_top .tit{font-weight: 600;font-size: 26px;color: #212121;}
.cetificate_wrap .certificate_top .btn_download{font-size: 16px; padding-left: 30px;background: url('../images/sub/ico_map_download.svg') no-repeat left center;background-size: 26px;}

.cetificate_wrap .certificate{width: 100%;height: 100%;max-width: 1321px;max-height: 1497px;background-color: #fff;box-shadow: 0px 0px 6px #0000001C;padding: 60px;margin: 100px auto 0;position: relative;}
.cetificate_wrap .certificate::before{content:''; position: absolute;left: 40px;top: 42px;display: block;width: 81px;height: 85px;background: #fff url('../images/sub/img_certificate_border.png') no-repeat center;z-index: 10;}
.cetificate_wrap .certificate::after{content:''; position: absolute;right: 40px;top: 42px;display: block;width: 81px;height: 85px;background: #fff url('../images/sub/img_certificate_border.png') no-repeat center;transform: scaleX(-1);}

.cetificate_wrap .certificate .certificate_cont{position: relative;border: 2px solid #D7D4CC;padding: 40px 80px 82px;}
.cetificate_wrap .certificate .certificate_cont::before{content:''; position: absolute;left: -20px;bottom: -21px;display: block;width: 81px;height: 85px;background: #fff url('../images/sub/img_certificate_border.png') no-repeat center;transform: scaleY(-1);}
.cetificate_wrap .certificate .certificate_cont::after{content:''; position: absolute;right: -20px;bottom: -21px;display: block;width: 81px;height: 85px;background: #fff url('../images/sub/img_certificate_border.png') no-repeat center;transform: scale(-1,-1);}

.cetificate_wrap .certificate .certificate_cont .cont_top{text-align: center;}
.cetificate_wrap .certificate .certificate_cont .cont_top img{width: 183px;height: 224px;}
.cetificate_wrap .certificate .certificate_cont .cont_top .tit{display: block;font-family: 'GodoB';font-size: 60px;line-height: 1;margin-top: 40px;}
.cetificate_wrap .certificate .certificate_cont .cont_top .tit_en{font-family: 'Open Sans', 'Noto Sans KR', sans-serif;font-size: 18px;margin-top: 12px;}

.cetificate_wrap .certificate .certificate_cont .info_area{margin-top: 80px;}
.cetificate_wrap .certificate .certificate_cont .info_area p{display: flex;justify-content: flex-end;}
.cetificate_wrap .certificate .certificate_cont .info_area p + p{margin-top: 14px;}
.cetificate_wrap .certificate .certificate_cont .info_area span{text-align: right;}
.cetificate_wrap .certificate .certificate_cont .info_area .info_tit{font-weight: 500;font-size: 20px;line-height: 1;}
.cetificate_wrap .certificate .certificate_cont .info_area .info_txt{width: 224px;font-size: 20px;}

.cetificate_wrap .certificate .certificate_cont .cont{padding-top: 140px;text-align: center;}
.cetificate_wrap .certificate .certificate_cont .cont .txt{font-size: 36px;line-height: 56px;}
.cetificate_wrap .certificate .certificate_cont .cont .txt_en{font-family: 'Open Sans', 'Noto Sans KR', sans-serif;padding-top: 20px;font-size: 18px;}
.cetificate_wrap .certificate .certificate_cont .cont .date{padding-top: 46px;font-size: 20px;}

.cetificate_wrap .certificate .certificate_cont .cont_bottom{padding-top: 208px;text-align: center;}
.cetificate_wrap .certificate .certificate_cont .cont_bottom img + img{margin-left: 32px;}

/* === 추천코스 === */
/* 지도 확대 */
/* body.guillotine-dragging, body.guillotine-dragging * {cursor:-webkit-grabbing!important;cursor:-moz-grabbing !important;cursor:grabbing !important;cursor:grab;} */
.guillotine-window{display:block;position:relative;overflow:hidden;cursor:-webkit-grab;cursor:-moz-grab;cursor:grab;cursor:grab;/* IE hack */border: 1px solid #ddd;}
.guillotine-canvas{position: absolute;top: 0;left: 0;text-align: center;margin: 0 !important;padding: 0 !important;border: none !important;}
.guillotine-canvas > * {position: absolute;top: 0;left: 0;max-width: none;max-height: none;width: 100%;height: 100%;margin: 0 !important;padding: 0 !important;border: none !important;}
/* .guillotine-sample {position: absolute!important;top: -100000px!important;left: -100000px!important;width: auto!important;height: auto!important;}
p.map-img{margin:0;padding:0;word-wrap:break-word;word-break:keep-all;}
p.map-img img{width:100%; display:block;} */

.recommend_wrap .map-box{position:relative;margin-top: 60px;}
.recommend_wrap .map-box .map-img{margin:0;padding:0;word-wrap:break-word;word-break:keep-all;overflow:hidden;margin-top: -194px;}
.recommend_wrap .map-box .map-img img{width:100%; display:block;}

.recommend_wrap .map-box .map_top{position: relative;z-index: 10;display: flex;justify-content: space-between;padding: 60px 0 0;}
.recommend_wrap .map-box .link_area .link{display: inline-flex;flex-direction: column;align-items: center;}
.recommend_wrap .map-box .link_area .link + .link{margin-left: 30px;}
.recommend_wrap .map-box .link_area .link .i_link{width: 100px;height: 100px;border-radius: 50%;background: #fff url('../images/sub/ico_map_btn_01.svg') no-repeat center;box-shadow: 0px 0px 12px #0000001A;}
.recommend_wrap .map-box .link_area .link.link02 .i_link{background-image: url('../images/sub/ico_map_btn_02.svg');}
.recommend_wrap .map-box .link_area .link.link03 .i_link{background-image: url('../images/sub/ico_map_btn_03.svg');}
.recommend_wrap .map-box .link_area .link .txt{display: block;padding-top: 8px;text-align: center;font-size: 16px;}
.recommend_wrap .map-box .btn_area{margin-left: auto;margin-top: 36px;}
.recommend_wrap .map-box .btn_area .btn{font-size: 16px;padding-left: 38px;background-repeat: no-repeat;background-position: left center;background-size: 30px;}
.recommend_wrap .map-box .btn_area .btn.download{position: relative;padding-right: 19px;margin-right: 14px;background-image: url('../images/sub/ico_map_download.svg');}
.recommend_wrap .map-box .btn_area .btn.download::after{content: '';display: inline-block;position: absolute;right: 0;top: 10px;width: 1px;height: 10px;background-color: #222;transform: rotate(-25deg);}
.recommend_wrap .map-box .btn_area .btn.print{padding-left: 36px;background-image: url('../images/sub/ico_map_print.svg');background-size: 28px;}

.recommend_wrap .map-box .zoom-btn-wrap{margin-left: 40px;}
.recommend_wrap .map-box .zoom-btn-wrap > button{width:50px;height:50px;display:block;background:#fff;border:1px solid #D3D3D3;font-size:16px;text-indent: -9999em;background-repeat: no-repeat;background-position: center;}
.recommend_wrap .map-box .zoom-btn-wrap .zoomin{background-image: url('../images/sub/ico_map_zoomin.svg')}
.recommend_wrap .map-box .zoom-btn-wrap .zoomout{background-image: url('../images/sub/ico_map_zoomout.svg');margin-top:-1px}
.recommend_wrap .map-box .zoom-btn-wrap .zoomin:disabled{background-image: url('../images/sub/ico_map_zoomin_off.svg');}
.recommend_wrap .map-box .zoom-btn-wrap .zoomout:disabled{background-image: url('../images/sub/ico_map_zoomout_off.svg');}
/* .guide-map-btn-box a{width:auto;margin:5px} */

.recommend_wrap .trace_wrap{margin-top: 80px;}
.recommend_wrap .trace_wrap .tit{display: block;font-weight: 600;font-size: 30px;text-align: center;}
.recommend_wrap .trace_wrap .course_img{margin-top: 60px; padding-bottom:23%; background:url('../images/sub/img_recommend_course_01.png')no-repeat center; background-size:contain;}
.recommend_wrap .trace_wrap .course_img.type2{background:url('../images/sub/img_recommend_course_02.png')no-repeat center; background-size:contain;}
.recommend_wrap .trace_wrap .course_img.type3{background:url('../images/sub/img_recommend_course_03.png')no-repeat center; background-size:contain;}
.recommend_wrap .trace_wrap .course_img.type4{background:url('../images/sub/img_recommend_course_04.png')no-repeat center; background-size:contain;}

.recommend_wrap .image_view{display: flex;flex-wrap: wrap;gap: 30px;margin-top: 120px;}
.recommend_wrap .image_view .view{position: relative; width: calc(33.33% - 20px);height: 446px;background-repeat: no-repeat; background-position: center; background-size: cover;}
.recommend_wrap .image_view .view .overlay{width: 100%;height: 100%;display: inline-flex;flex-direction: column;justify-content: center;background-color: rgba(0, 0, 0, 0.34);}
.recommend_wrap .image_view .view .num{display: block;font-family: 'Open Sans', 'Noto Sans KR', sans-serif;font-weight: 600;font-size: 24px;text-align: center;color: #fff;border: 2px dashed #fff;border-radius: 50%;width: 84px;height: 84px;line-height: 80px; margin: 0 auto;}
.recommend_wrap .image_view .view .txt{font-weight: 600;font-size: 24px;color: #fff;padding-top: 20px;text-align: center;}

/* 추천코스 모달 */
.wbz-popup-cont.type_swiper{padding: 0;border-radius: 0;max-width: 800px;width: calc(100% - 32px);background-color: transparent;}
.wbz-popup-cont.type_swiper .popup-header{}
.wbz-popup-cont.type_swiper .popup-header .popup-close{width: 20px;height: 20px;background-image: url('../images/common/ico_modal_swiper_close.svg');}
.wbz-popup-cont.type_swiper .popup-cont{overflow-y: initial;}

.recommend_image_slide {position: relative;}
.recommend_image_slide .swiper_navi .swiper_button {width: 60px;height: 60px;font-size: 0;background-position: center;background-repeat: no-repeat;background-color: #fff;border-radius: 50%;position: absolute;top: 50%;transform: translateY(-50%);z-index: 100;border: 1px solid #ddd;}
.recommend_image_slide .swiper_navi .swiper_button.swiper_prev {background-image: url("../images/common/ico_modal_swiper_prev.svg");left: -80px;  }
.recommend_image_slide .swiper_navi .swiper_button.swiper_next {background-image: url("../images/common/ico_modal_swiper_next.svg");right: -80px;  }
.recommend_image_slide .swiper-slide .recommend_image {position: relative;width: 100%;height: 0;padding-bottom: 63%;background-repeat: no-repeat;background-position: center;background-size: cover;  }
.recommend_image_slide .swiper-pagination{font-family: "Roboto", "Noto Sans KR", sans-serif;font-size: 20px;color: #fff;margin-bottom: -44px;}
.recommend_image_slide .swiper-pagination .swiper-pagination-current{color: #F68A53;}

/* 핵심코스 오디오 듣기 */
.sub_line_bg.bg_audio .bg .img_ani{background-image: url('../images/sub/bg_audio.png');}
.sub_line_bg.bg_audio .sub_title{padding: 80px 0 120px;}
/* 
.audio-player {
    position: relative;
    z-index: 50;
    height: 100px;
    width: 100%;
    max-width: 1180px;
    background: rgba(34, 34, 34, 0.74);
    box-shadow: 0px 0px 12px #0000001A;
    color: #fff;
    font-size: 16px;
    overflow: hidden;
    display: flex;
  }
  .audio-player .timeline {
    background: white;
    width: 100%;
    height: 8px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 2px 10px 0 #0008;
  }
  .audio-player .timeline .progress {
    background: coral;
    width: 0%;
    height: 100%;
    transition: 0.25s;
  }
  .audio-player .time {
    display: flex;
    justify-content: space-between;
  }
  .audio-player .controls {
  }
  /* .audio-player .controls > * {
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  /* .audio-player .controls .play {
    cursor: pointer;
    position: relative;
    left: 0;
    height: 0;
    width: 0;
    border: 7px solid #0000;
    border-left: 13px solid white;
  }
  .audio-player .controls .pause {
    height: 15px;
    width: 20px;
    cursor: pointer;
    position: relative;
  }
  .audio-player .controls .pause:before {
    position: absolute;
    top: 0;
    left: 0px;
    background: white;
    content: "";
    height: 15px;
    width: 3px;
  }
  .audio-player .controls .pause:after {
    position: absolute;
    top: 0;
    right: 8px;
    background: white;
    content: "";
    height: 15px;
    width: 3px;
  }
  .audio-player .controls .toggle-play.pause:hover {
    transform: scale(1.1);
  } */

.audio_txt{margin-top: 60px;}
.audio_txt pre{display: block; max-width: 100%; white-space: pre-line;font-size: 18px;line-height: 26px;font-family: Noto Sans kr, 돋움, Dotum, AppleSDGothicNeo, AppleGothic, Droid Sans;} */

/* 수목원 소개 */
.introduce_wrap{position: relative;}
.introduce_wrap .divide_area{position: relative;height: 900px;padding-top: 100px;}
.introduce_wrap .divide_area .w_set{display: flex;}

.introduce_wrap .divide_area.bg_left{}
.introduce_wrap .divide_area.bg_left::before{content: '';width: calc(50% - 60px);height: 100%;position: absolute;left: 0;top: 0;background-color: #E7ECE0A8;z-index: -1;}
.introduce_wrap .divide_area.bg_left .left_area{width: calc(50% - 60px);}
.introduce_wrap .divide_area.bg_left .left_area .txt{font-size: 20px;line-height: 30px;}
.introduce_wrap .divide_area.bg_left .left_area .tit{font-size: 45px;line-height: 66px;margin-top: 20px;}
.introduce_wrap .divide_area.bg_left .left_area .img{margin: 73px -60px 0 0;position: relative;max-width: 700px;height: 0;padding-bottom: 72.8%;}
.introduce_wrap .divide_area.bg_left .left_area .img img{width: 100%;height: 100%; position: absolute;left: 0;top: 0;object-fit: cover;}

.introduce_wrap .divide_area.bg_left .right_area{width: calc(50% - 60px);margin-left: 60px;}
.introduce_wrap .divide_area.bg_left .right_area .txt{text-align: right; font-size: 20px;line-height: 30px;margin-top: 115px;}
.introduce_wrap .divide_area.bg_left .right_area .txt span{display: block;}
.introduce_wrap .divide_area.bg_left .right_area .img{position: relative;max-width: 552px;height: 0;padding-bottom: 65.3%;margin-left: auto;}
.introduce_wrap .divide_area.bg_left .right_area .img img{width: 100%;height: 100%; position: absolute;left: 0;top: 0;object-fit: cover;}
.introduce_wrap .divide_area.bg_left .right_area .img_shadow{box-shadow: 0px 3px 16px #00000029;}
.introduce_wrap .divide_area.bg_left .right_area .effect{width: 130px;height: 130px; position: absolute;left: -65px;top: -65px;z-index: -1;}
.introduce_wrap .divide_area.bg_left .right_area .effect img{width: 100%;height: 100%; animation: rotate360 20s linear infinite;}

.introduce_wrap .divide_area.bg_right::before{content: '';width: calc(50% - 148px);height: 100%;position: absolute;right: 0;top: 100px;background-color: #FFFFE8;z-index: -1;}
.introduce_wrap .divide_area.bg_right .left_area{width: 50%;margin-right: 60px;}
.introduce_wrap .divide_area.bg_right .left_area .img{position: relative;max-width: 640px;height: 0;padding-bottom: 75%;}
.introduce_wrap .divide_area.bg_right .left_area .img img{width: 100%;height: 100%; position: absolute;left: 0;top: 0;object-fit: cover; box-shadow: 0px 3px 16px #00000029;}
.introduce_wrap .divide_area.bg_right .right_area {width: 50%;}
.introduce_wrap .divide_area.bg_right .right_area .txt{margin: 140px 0 0 261px; font-size: 20px;line-height: 30px;}
.introduce_wrap .divide_area.bg_right .right_area .img{margin: 70px 0 0 0;position: relative;max-width: 700px;height: 0;padding-bottom: 66.6%;}
.introduce_wrap .divide_area.bg_right .right_area .img img{width: 100%;height: 100%; position: absolute;left: 0;top: 0;object-fit: cover;}

@keyframes rotate360 {
	from {
		transform: rotate(0deg);
		transform-origin: center center; 
	}
	to {
		transform: rotate(360deg);
		transform-origin: center center;
	}
}

.introduce_wrap .full_area{background-color: #ddd;padding: 174px 0 154px;margin-top: 100px;background: url('../images/sub/img_introduce_03.png') no-repeat center; background-size: cover;}
.introduce_wrap .full_area .txt{font-size: 24px;line-height: 36px;color: #fff;}
.introduce_wrap .full_area .txt span{display: block;}

/* ======= 반응형 ======= */

@media (min-width: 1400px) {
    /* === 마이페이지 === */
    /* 스탬프투어 */
    .tour_list li:nth-child(8n+5) {transform:translateX(300%);}
    .tour_list li:nth-child(8n+6) {transform:translateX(100%);}
    .tour_list li:nth-child(8n+7) {transform:translateX(-100%);}
    .tour_list li:nth-child(8n) {transform:translateX(-300%);}

    .tour_list li:nth-child(8n+7):after { content: ''; position: absolute;left: -70%; right:70px;  top:110px; height: 1px; border-top:5px dashed #ddd; z-index:-1; }
    .tour_list li:nth-child(8n+6):after { content: ''; position: absolute;left: -70%; right:70px;  top:110px; height: 1px; border-top:5px dashed #ddd; z-index:-1; }
    .tour_list li:nth-child(8n+5):after { content: ''; position: absolute;left: -70%; right:70px;  top:110px; height: 1px; border-top:5px dashed #ddd; z-index:-1; }

    .tour_list li:nth-child(8n+1):after{ content: ''; position: absolute;left: 70px; right:-70%;  top:110px; height: 1px; border-top:5px dashed #ddd; z-index:-1; }
    .tour_list li:nth-child(8n+2):after{ content: ''; position: absolute;left: 70px; right:-70%;  top:110px; height: 1px; border-top:5px dashed #ddd; z-index:-1; }
    .tour_list li:nth-child(8n+3):after{ content: ''; position: absolute;left: 70px; right:-70%;  top:110px; height: 1px; border-top:5px dashed #ddd; z-index:-1; }

    .tour_list li:nth-child(8n+4):after { content: ''; position: absolute; top: 79px; left: -125px; border-radius: 100%; border: 5px dashed #ddd; border-left: 0; border-top: 5px dashed transparent; border-bottom: 5px dashed transparent; width: 433px; height: 430px; z-index: -1;}
    .tour_list li:nth-child(8n):after { content: ''; position: absolute; top:79px; left: 0px; border-radius: 100%; border: 5px dashed #ddd; border-right: 0; border-top: 5px dashed transparent; border-bottom: 5px dashed transparent; width: 433px; height: 430px;  z-index:-1; }

    .tour_list li:last-child:after { display:none; }

}

@media (max-width: 1399px) {
    /* 공통 */
    /* ===== check ===== */
    .program_wrap .radiobox .label::before{width: 18px; height: 18px;}

    /* 상단 탭메뉴 */
    .top_menu{overflow-x: auto; gap: 30px;-ms-overflow-style: none; /* IE and Edge */scrollbar-width: none; /* Firefox */}
    .top_menu::-webkit-scrollbar {display: none; /* Chrome, Safari, Opera*/}

    /* 체험프로그램 */
    .reserve_list li{padding: 0; flex-direction: column;}
    .reserve_list li .img_box{width: 100%; height: 0; padding-bottom: 68%;}
    .reserve_list li .txt_box{padding: 20px 14px 30px; width: 100%;}
    .reserve_list li .txt_box .tit{font-size: 18px;}
    .reserve_list li .txt_box .info{max-height:54px; font-size: 14px; line-height: 21px; padding: 10px 0 20px; }

    .reserve_list li .txt_box .detail{margin-top: 20px; padding-top: 20px; border-top: 1px dashed #ddd;}
    .reserve_list li .txt_box p.be{font-size: 14px; line-height: 24px;}
    .reserve_list li .txt_box p.be .be_tit{width: 84px;}

    .reserve_list li .txt_box .btn_area{position: initial; width: 100%; margin-top: 36px;}
    .reserve_list li .txt_box .btn_area .btn{width: 100%;}

    /* 체험프로그램_예약 */
    .program_select {display: block;}
    .program_select .menu_select {width: 100%;}
    .program_select .menu_select .select_now {font-size: 14px; height: 42px; line-height: 40px;}

    .program_wrap .program-box{flex-direction: column; gap: 40px; margin-top: 25px;}
    .program_wrap .program-box .program-list .tit{padding: 13px 0; font-size: 16px;}
    .program_wrap .program-box .program-list .tit span{font-weight: 500;font-size: 16px;}

    .program_wrap .program-box .program-list .desc{padding: 20px 12px 30px; height: 100%; min-height: 424px;}

    .calendar_box .clndr_controls{gap: 20px;}
    .calendar_box .clndr_controls .month{font-size: 16px;}
    .calendar_box .clndr_controls .clndr_control_btn{width: 20px;height: 20px;background-size: 7px 11px;}

    .calendar_box .clndr .clndr_table{margin-top: 16px;}

    .calendar_box .clndr table td{height: 44px;}
    .calendar_box .clndr table td button{font-size: 14px;}

    .program_wrap .program-box .program-list .desc .selectlist{flex-wrap: wrap; margin-top: 12px;}
    .program_wrap .program-box .program-list .desc .selectlist p{font-size: 14px; margin-right: 12px; margin-bottom: 6px;}

    .program_wrap .program-box .program-list .desc .datebox .date-list{font-size: 14px;}

    .program_wrap .program-box .program-list .desc .datebox.type_bg{padding: 14px 12px 15px;}
    .program_wrap .program-box .program-list .desc .datebox.type_bg .datebox-tit{font-size: 13px;}
    .program_wrap .program-box .program-list .desc .datebox.type_bg .datebox-desc{font-size: 14px;}

    .program_wrap .program-box .program-list .desc .date-tbl{margin-top: 15px;}

    .program_wrap .program-box .program-list .desc .date-tbl .tbl-head .h-col{padding: 15px 0; font-size: 14px;}

    .program_wrap .program-box .program-list .desc .date-tbl .tbl-body .row .d-col{padding: 12px 0; font-size: 14px;}

    .program_wrap .program-box .program-list .desc .date-tbl .txt{padding-top: 12px; font-size: 14px;}

    .program_wrap .program-box .program-list .desc .input-wrap{padding-top: 12px;}
    .program_wrap .program-box .program-list .desc .input-wrap dl:not(:first-child){margin-top: 12px;}
    .program_wrap .program-box .program-list .desc .input-wrap dt{width: 94px; font-size: 14px;}
    .program_wrap .program-box .program-list .desc .input-wrap dd input{height: 42px; line-height: 40px; font-size: 14px;}
    .program_wrap .program-box .program-list .desc .input-wrap dd .add_txt{font-size: 14px;}
    .program_wrap .program-box .program-list .desc .input-wrap dd textarea{height: 120px; font-size: 14px;}

    .program_wrap .privacy_info .tit{font-size: 16px;}
    .program_wrap .privacy_info .txt_box{margin-top: 15px; padding: 14px; padding-right: 10px; font-size: 14px;}
    .program_wrap .privacy_info .txt_box p{line-height: 24px; margin-top: 14px;}
    .program_wrap .privacy_info  .chk_area{margin-top: 16px; }

    .program_wrap .program_bottom{margin-top: 44px;}
    #wrap .program_wrap .program_bottom .common_button{width: 100%; height: 50px; line-height: 48px; font-size: 16px;}

    /* 체험프로그램_예약완료 */
    .program_wrap .program_complete .complete_top{background: none; height: auto; padding: 0 0 26px;}
    .program_wrap .program_complete .complete_top .txt{padding-top: 70px; background-size: 54px; font-size: 20px; color: #222;}

    .program_wrap .complete_table li div{font-size: 14px; padding: 15px 0;}
    .program_wrap .complete_table li .tit{width: 100px;}
    .program_wrap .complete_table li .txt{padding-left: 10px;}


    /* === 마이페이지 === */
    /* 스탬프투어 */
    .tour_list ul {max-width:600px;}
	.tour_list li {padding: 0 8px 30px; flex:0 1 33%;}

    .tour_list li .input_area.add_photo{width: 134px; height: 134px;}
    .tour_list li .input_area.add_photo .btn{background-size: 38px;}
    .tour_list li .image{width: 134px;height: 134px;}
    .tour_list li .txt{padding: 0 8px 0 3px; font-size: 12px; margin-top: 12px; height: 18px; line-height: 16px;}
    .tour_list li .txt .num{width: 14px;height: 14px;line-height: 14px; font-size: 12px;margin-left: 4px;}

	.tour_list li:nth-child(6n+4) {transform:translateX(200%);}
	.tour_list li:nth-child(6n) {transform:translateX(-200%);}

	.tour_list li:nth-child(6n+3):after { content: ''; position: absolute; top:50px; left:-35px;  border-radius:100%; border:3px dashed #d7d7d7; border-left: 0;border-top:0; border-bottom: 0; width:204px; height: 204px; z-index:-1; }

	.tour_list li:nth-child(6n+1):after{ content: ''; position: absolute;left: 50px; right:-70%;  top:55px; height: 1px; border-top:3px dashed #d7d7d7; z-index:-1; }
	.tour_list li:nth-child(6n+2):after{ content: ''; position: absolute;left: 50px; right:-70%;  top:55px; height: 1px; border-top:3px dashed #d7d7d7; z-index:-1; }
	.tour_list li:nth-child(6n):after { content: ''; position: absolute; top: 50px; left: -15px; border-radius: 100%; border: 3px dashed #d7d7d7; border-right: 0; border-top: 0; border-bottom: 0; width: 204px; height: 204px;  z-index:-1; }

	.tour_list li:nth-child(6n+4):after{ content: ''; position: absolute;left: -70%; right:50px;  top:55px; height: 1px; border-top:3px dashed #d7d7d7; z-index:-1; }
	.tour_list li:nth-child(6n+5):after{ content: ''; position: absolute;left: -70%; right:50px;  top:55px; height: 1px; border-top:3px dashed #d7d7d7; z-index:-1; }

	.tour_list li:last-child:after { display:none; }

    .tour_list .board_bottom{margin-top: 10px;}
    #wrap .tour_list .board_bottom .common_button{width: 100%; height: 50px; line-height: 48px; font-size: 16px;}
    .tour_list .board_bottom .common_button span{padding-left: 30px;background-size: 22px;}

    /* === 추천코스 === */
    .recommend_wrap .map-box{margin-top: 40px;padding: 0 0 188px;}
    .recommend_wrap .map-box .map-img{margin-top: 0;}

    .recommend_wrap .map-box .map_top{position: initial;padding: 0;}

    .recommend_wrap .map-box .link_area{position: absolute;left: 16px;right: 16px;bottom:0; text-align: center;display: flex;justify-content: space-between;max-width: 328px;margin: 0 auto;}
    .recommend_wrap .map-box .link_area .link + .link{margin-left: 0;}
    .recommend_wrap .map-box .link_area .link .i_link{width: 76px;height: 76px;background-size: 42px;}
    .recommend_wrap .map-box .link_area .link .txt{font-size:14px;padding-top: 10px;}
    .recommend_wrap .map-box .btn_area{position: absolute;left: 0;right: 0;bottom: 148px;text-align: center;margin-top: 0;}
    .recommend_wrap .map-box .btn_area .btn{font-size: 14px;line-height: 20px;padding-left: 28px;background-size: 20px 20px;}
    .recommend_wrap .map-box .btn_area .btn.download{padding-right: 21px;margin-right: 16px;}
    .recommend_wrap .map-box .btn_area .btn.download::after{top: 6px;}
    .recommend_wrap .map-box .btn_area .btn.print{padding-left: 28px;background-size: 20px 20px;}
    .recommend_wrap .map-box .zoom-btn-wrap{position: absolute;right: 16px;bottom: 208px;z-index: 100;}
    .recommend_wrap .map-box .zoom-btn-wrap > button{width: 36px;height: 36px;background-size: 10px 10px;}
    .recommend_wrap .map-box .zoom-btn-wrap .zoom_out{background-size: 10px 2px;}

    .recommend_wrap .image_view{margin-top: 60px;margin-right: -16px; flex-wrap: nowrap;overflow-x: auto;gap: 0;-ms-overflow-style: none; /* IE and Edge */scrollbar-width: none; /* Firefox */}
    .recommend_wrap .image_view::-webkit-scrollbar {display: none; /* Chrome, Safari, Opera*/}
    .recommend_wrap .image_view .view{width: 280px;height: 314px;flex: 0 0 auto;margin-right: 21px;justify-content:flex-start;}
    .recommend_wrap .image_view .view .overlay{display: block;padding-top: 60px;}
    .recommend_wrap .image_view .view .num{font-size: 15px;width: 53px;height: 53px;line-height: 49px;}
    .recommend_wrap .image_view .view .txt{font-size: 15px;padding-top: 14px;}

    /* 추천코스 모달 */
    .recommend_image_slide .swiper_navi .swiper_button{width: 30px;height: 30px;background-size: 10px;}
    .recommend_image_slide .swiper_navi .swiper_button.swiper_prev{left: -15px;}
    .recommend_image_slide .swiper_navi .swiper_button.swiper_next{right: -15px;}
    .recommend_image_slide .swiper-pagination{font-size: 16px;}

    /* 수목원 소개 */
    .introduce_wrap .divide_area{height: auto;padding-top: 32px;}
    .introduce_wrap .divide_area .w_set{padding: 0;flex-direction: column;}

    .introduce_wrap .divide_area.bg_left::before{right: 0;width: 100%;height: calc(100% - 120px);}
    .introduce_wrap .divide_area.bg_left .left_area{width: 100%;margin-right: 0;}
    .introduce_wrap .divide_area.bg_left .left_area .txt{text-align: center;font-size: 16px;line-height: 24px;}
    .introduce_wrap .divide_area.bg_left .left_area .txt span{display: block;}
    .introduce_wrap .divide_area.bg_left .left_area .tit{display: block;text-align: center;font-size: 23px;line-height: 34px;}
    .introduce_wrap .divide_area.bg_left .left_area .img{margin: 32px 0 0;padding-bottom: 44%;}    
    .introduce_wrap .divide_area.bg_left .right_area {margin: 26px 0 0;width: 100%;}
    .introduce_wrap .divide_area.bg_left .right_area .img{padding-bottom: 38%;}
    .introduce_wrap .divide_area.bg_left .right_area .effect{display: none;}    
    .introduce_wrap .divide_area.bg_left .right_area .txt{text-align: center;font-size: 16px;margin: 32px 16px 0;}
    .introduce_wrap .divide_area.bg_left .right_area .txt span{display: inline;}

    .introduce_wrap .divide_area.bg_right{padding: 112px 0 70px;position: relative;}
    .introduce_wrap .divide_area.bg_right::before{width: 100%;left: 0;top: 112px;bottom: 0;}
    .introduce_wrap .divide_area.bg_right .left_area{width: 100%;margin-right: 0;}
    .introduce_wrap .divide_area.bg_right .left_area .img{padding-bottom: 42%;}
    .introduce_wrap .divide_area.bg_right .right_area{width: 100%;}
    .introduce_wrap .divide_area.bg_right .right_area .img{margin: 26px 0 0 auto;padding-bottom: 40%;}
    .introduce_wrap .divide_area.bg_right .right_area .txt{position: absolute;top: 32px; margin: 0;padding: 0 16px;text-align: center;font-size: 16px;width: 100%;}

    .introduce_wrap .full_area{margin-top: 32px;height: 148px;padding: 0;display: flex;align-items: center;}
    .introduce_wrap .full_area .txt{font-size: 16px;line-height: 24px;text-align: center;word-break:break-all;}    
    .introduce_wrap .full_area .txt span{display: inline;}

}

@media (max-width: 768px) {
    /* 공통 */
    .top_menu{overflow-x: auto; margin-right: -16px; gap: 0;}
    .top_menu li{margin-right: 32px;}
    .top_menu li .course{gap: 12px;}
    .top_menu li .course .image{width: 58px;height: 58px;}
    .top_menu li .course .desc{font-size: 12px;}
    .top_menu li .course .txt{font-size: 18px;}

    /* === 마이페이지 === */
    /* 스탬프투어 */
    .tour_list ul { max-width:350px; margin: 0 auto; }
	.tour_list li { flex: 0 1 50%; }

	.tour_list li:nth-child(6n+4) {transform:translateX(0);}
	.tour_list li:nth-child(6n) {transform:translateX(0);}

	.tour_list li:nth-child(4n+3) {transform:translateX(100%);}
	.tour_list li:nth-child(4n+4) {transform:translateX(-100%);}

	.tour_list li:nth-child(4n+2):after { content: ''; position: absolute; top: 50px; left: -35px; border-radius: 100%; border: 3px dashed #d7d7d7; border-left: 0; border-top: 3px dashed transparent; border-bottom: 3px dashed transparent; width: 200px; height: 260px; z-index: -1; }

	.tour_list li:nth-child(4n+3):after { content: ''; position: absolute; left: -70%; right: 50px; top: 65px; height: 1px; border-top: 3px dashed #d7d7d7;  z-index:-1; }
	.tour_list li:nth-child(4n+4):after { content: ''; position: absolute; top: 50px; left: 0; border-radius: 100%; border: 3px dashed #d7d7d7; border-right: 0; border-top: 3px dashed transparent; border-bottom: 3px dashed transparent;width: 200px; height: 260px;  z-index:-1; }
	.tour_list li:nth-child(4n+1):after { content: ''; position: absolute; left: 50px; right: -70%; top: 65px; height: 1px; border-top: 3px dashed #d7d7d7; z-index:-1;  }
	.tour_list li:last-child:after { display:none; }

    /* === 추천코스 === */
    .recommend_wrap .trace_wrap{margin-top: 60px;}
    .recommend_wrap .trace_wrap .tit{font-size: 18px;}
    .recommend_wrap .trace_wrap .course_img{margin-top: 40px; padding-bottom: 130%; background-image: url('../images/sub/img_recommend_course_01_m.png');}
    .recommend_wrap .trace_wrap .course_img.type2{background-image: url('../images/sub/img_recommend_course_02_m.png');}
    .recommend_wrap .trace_wrap .course_img.type3{background-image: url('../images/sub/img_recommend_course_03_m.png');}
    .recommend_wrap .trace_wrap .course_img.type4{background-image: url('../images/sub/img_recommend_course_04_m.png');}
    
    /* 수목원 소개 */
    .introduce_wrap .divide_area.bg_left .left_area .img{max-width: 100%;padding-bottom: 66.7%;}   
    .introduce_wrap .divide_area.bg_left .right_area .img{max-width: 100%;padding-bottom: 66.7%;}
    .introduce_wrap .divide_area.bg_right .left_area .img {max-width: 100%;padding-bottom: 66.7%;}
    .introduce_wrap .divide_area.bg_right .right_area .img{max-width: 100%;padding-bottom: 66.7%;}

}