.wbz-popup-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	z-index: 2;
}
.wbz-popup-cont {
	display: none;
	position: fixed;
	z-index: 10000;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 30px 28px 42px;
	background: #fff;
	min-width: 300px;
	width: 700px;
	max-width: 700px;
	border-radius: 10px;
}
.wbz-popup-cont.on {
	display: block;
}

/* 사이즈 */
.wbz-popup-cont.size-s{
	width: 360px;
}

.wbz-popup-cont .popup-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 24px;
}
.wbz-popup-cont .popup-header .popup-title {
	display: block;
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
}
.wbz-popup-cont .popup-header .popup-close {
	cursor: pointer;
	width: 26px;
	height: 26px;
	margin-right: -2px;
	background: url("../images/common/ico/i_close_l.png") no-repeat center center;
	background-size: 100% auto;
	border: 0 none;
	font-size: 0;
}

.wbz-popup-cont .popup-cont {
	/* padding-top: 16px; */
	max-height: 500px;
	overflow-y: auto;
}

/* 스크롤 */
.wbz-popup-cont .popup-cont::-webkit-scrollbar {
	width: 8px; /* 가로축 스크롤바 폭 너비 */ 
	cursor: pointer; 
	margin-left: 10px;
}
.wbz-popup-cont .popup-cont::-webkit-scrollbar-thumb {
	background: #ddd; /* 스크롤바의 색상 */
	border-radius: 10px; 
	cursor: pointer; 
}
.wbz-popup-cont .popup-cont::-webkit-scrollbar-track {
	background: #f4f4f4; /*스크롤바 뒷 배경 색상*/
	border-radius: 10px; 
	cursor: pointer;
}

.wbz-popup-cont .popup-cont .popup-text {
	max-height: 470px;
    overflow-y: auto;
	font-size: 16px;
    line-height: 20px;
	border: 1px solid #eee;
	padding: 15px 20px;
}
.wbz-popup-cont .popup-cont .popup-text pre {
	white-space: pre-line;
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
    word-break: keep-all;
    color: #333;
    padding-right: 20px;
}
.wbz-popup-cont .popup-cont .popup-button {
	margin-top: 36px;
}
.wbz-popup-cont .popup-cont > img{
	width: 100%;
}

/* 인스턴트 팝업 */
.wbz-popup-cont.type_alert{
	padding: 30px 0 0;
}
.wbz-popup-cont.type_alert .popup-cont{
	max-height: none; 
	overflow: visible;
}
.wbz-popup-cont.type_alert .popup-cont .popup-text{
	border: none; 
	text-align: center; 
	padding-left: 0; 
	padding-right: 0;
}
.wbz-popup-cont.type_alert .popup-cont .popup-button{
	display: flex; 
}
.wbz-popup-cont.type_alert .popup-cont .popup-button button{
	flex: 1; 
	font-size: 15px; 
	line-height: 52px;
}
.wbz-popup-cont.type_alert .popup-cont .popup-button .cr_1{
	background-color: #ddd;
	color: #222;
}
.wbz-popup-cont.type_alert .popup-cont .popup-button .cr_2{
	background-color: #03C75A; 
	color: #fff;
}

@media (max-width: 1200px){
	.wbz-popup-cont {
		display: none;
		position: fixed;
		z-index: 10000;
		/* top: 50%;
		left: 20px;
		transform: translateY(-50%); */
		padding: 20px;
		background: #fff;
		min-width: 300px;
		width: calc(100% - 40px);
		max-width: 700px;
		border-radius: 10px;
	}
	.wbz-popup-cont .popup-header {
		display: flex;
		justify-content: space-between;
		align-self: center;
		padding-bottom: 18px;
	}
	.wbz-popup-cont .popup-header .popup-title {
		display: block;
		font-size: 16px;
		line-height: 24px;
		font-weight: 500;
	}
	.wbz-popup-cont .popup-header .popup-close {
		cursor: pointer;
		width: 26px;
		height: 26px;
		margin-right: -2px;
		background: url("../images/common/ico/i_close_l.png") no-repeat center center;
		background-size: 100% auto;
		border: 0 none;
		font-size: 0;
	}
	.wbz-popup-cont .popup-cont {
		/* padding-top: 16px; */
	}
	.wbz-popup-cont .popup-cont .popup-text {
		max-height: 470px;
		overflow-y: auto;
		font-size: 16px;
		line-height: 20px;
		border: 1px solid #eee;
		padding: 10px 15px;
	}
	.wbz-popup-cont .popup-cont .popup-text pre {
		white-space: pre-line;
		font-size: 13px;
		line-height: 150%;
		font-weight: 400;
		word-break: keep-all;
		color: #333;
		padding-right: 20px;
	}
	.wbz-popup-cont .popup-cont .popup-button {
		margin-top: 36px;
	}
}

@media (min-width: 1024px){
	.wbz-popup-cont.type-bottom {
		transform: translate(-50%, -50%) scale(0);
	}
	.wbz-popup-cont.type-bottom.on.ani {
		transform: translate(-50%, -50%) scale(100%);
	}
}

@media (max-width: 1023px){
	/* 모바일 풀 팝업 */
	.wbz-popup-cont.type-full{
		top: 0; left: 0; width: 100%; height: 100%; transform: translateY(0); border-radius: 0;
	}
	/* 모바일 바텀 팝업 */
	.wbz-popup-cont.type-bottom {
		top: auto;
		bottom: 0;
		left: 0;
		width: 100%;
		max-height: calc(100% - 55px);
		transform: translateY(100%);
		transition: 0.4s;
		border-radius: 20px 20px 0px 0px;
		overflow-y: auto;
	}
	.wbz-popup-cont.type-bottom.on.ani {
		transform: translateY(0);
	}
	.wbz-popup-cont.type_alert .popup-header .popup-close{
		margin-right: 20px;
	}
}

@media (min-width: 1023px){
	
	/* 인스턴트 팝업 */
	.wbz-popup-cont.type_alert{
		/* width: 344px; */
		max-width: 344px; 
		padding: 24px;
	}
	.wbz-popup-cont.type_alert .popup-cont .popup-button{
		padding: 0 16px;
	}
	.wbz-popup-cont.type_alert .popup-cont .popup-button button{
		border-radius: 4px; 
		margin: 0 6px;
	}
}
