/* ==== header ==== */
#header{background-color: #fff;border-bottom: 1px solid #ddd;}
#header i{display: inline-block;background-repeat: no-repeat;background-position: center;}
.header_top{display:flex;justify-content: space-between;align-items: center;height: 100px;padding: 0 35px;border-bottom: 1px solid #4d4d4d; background-color: #282828; color: #fff;}
.header_top .header_info .admin_title{display: inline-block;vertical-align: middle;font-size: 0; width: 150px; height: 55px; background: url(../images/common/logo.png) no-repeat center; background-size: 100%;}
.header_top .header_info .user_info{display: inline-flex;align-items: center;vertical-align: middle;margin-left: 35px;}
.header_top .header_info .user_info .user_name{font-size: 14px;margin-left: 10px;}
.header_top .header_info .user_info .user_label{display: inline-block;height: 24px;line-height: 24px;padding: 0 10px;border: 1px solid #ddd;border-radius: 3px;font-size: 12px;font-weight: 500;margin-left: 10px;}
.header_top .header_info .user_info .ico_profile{width: 27px;height: 27px;background-image: url(../images/common/user_name.png);background-position: 0 50%;background-color: #0c725a;border-radius: 50%;}
.header_top .header_util{font-size: 0;}
.header_top .header_util .btn_u{display: inline-block;font-size: 14px;line-height: 24px;color: #fff;margin-left: 25px;}
.header_top .header_util .btn_u i{vertical-align: top;margin-right: 4px;}
.header_top .header_util .btn_u .ico_link{width: 24px;height: 24px;background-image: url(../images/common/homepage.png); background-size: 16px;}
.header_top .header_util .btn_u .ico_logout{width: 24px;height: 24px;background-image: url(../images/common/logout.png); background-size: 14px;}
.header_btm{padding: 0 35px; background-color: #282828;}
.header_btm .gnb ul{font-size: 0;}
.header_btm .gnb ul li{display: inline-block;}
.header_btm .gnb ul li a{display: block;height: 40px;line-height: 38px;font-size: 16px;font-weight: 500;color: #fff;padding: 0 30px;}
.header_btm .gnb ul li.on a{background-color: #0c725a;color: #fff;transition: 0.3s ease all;}
.header_btm .gnb ul li:hover a{background-color: #0c725a;color: #fff;transition: 0.3s ease all;}

/* ==== lnb ==== */
#lnb{position: absolute; width:230px; background-color:#eaeaea; border:1px solid #ddd; box-sizing:border-box; z-index:1; left: 0; top: 0; bottom: 0; -webkit-transition: all 0.4s;; -moz-transition: all 0.4s;; -ms-transition: all 0.4s;;-o-transition: all 0.4s;; transition: all 0.4s;}
#lnb h2.tit{text-align:center; color:#eaeaea; font-size:22px; padding:22px 0; background-color:#eaeaea; font-weight:500;}
#lnb h2.tit span{color: #222; font-size: 18px;font-weight: 600;}
#lnb h2.tit .tit_icon{display: block; height: 26px; background-repeat: no-repeat; background-position: center;}
#lnb ul.menu > li{border-bottom:1px solid #ddd;}
#lnb ul.menu > li:first-child{border-top:1px solid #ddd;}
#lnb ul.menu > li > a{display:block; font-size:14px; line-height:48px; padding-left:22px; color:#222; background-color: #eaeaea; background-image:url(../images/common/check_g.png); background-repeat:no-repeat; background-position:90% center;}
#lnb ul.menu > li:hover > a{background-color:#0c725a; color: #fff;}
#lnb ul.menu > li.on > a{background-color:#0c725a; color:#fff; background-image:url(../images/common/arrow_g.png);}
#lnb ul.menu > li > a.skin_bg{background-color: #0c725a;background-image:url(../images/common/btn_check.png); color:#fff;}
#lnb ul.menu > li ul.sub_menu{display:none;}
#lnb ul.menu > li ul.sub_menu li{background-color:#eeeeee; background-image:url(../images/common/sub_menu.png); background-repeat:no-repeat; background-position:25px center}
#lnb ul.menu > li ul.sub_menu li a{display:block; line-height:48px; padding-left:45px;}
#lnb ul.menu > li ul.sub_menu li.on{background-color:#e0e0e0;}
#lnb ul.menu > li ul.sub_menu li.on a{background-image:url(../images/common/arrow_g.png); background-repeat:no-repeat; background-position:90% center;}
#lnb .openBtn{position: absolute;right: 0px;top: 50%;width: 20px;height: 50px;line-height: 48px;background-color: #333;color: #fff;border-right-width: 0;transform: translateY(-50%);}
#lnb.menu-off{left: -232px;}
#lnb.menu-off .openBtn{right: -20px;}

/* ==== content ==== */
.content_wrap{position: relative;width: 100%;min-height: 85vh;}
.content{-webkit-transition: 0.4s;transition: all 0.4s;position: relative;padding: 0 0 0 230px;}
.content.menu-off{padding-left: 22px;}

/* ==== input ==== */
.content_wrap input[type=text],
.content_wrap input[type=password],
.content_wrap input[type=email],
.content_wrap input[type=tel],
.content_wrap select{width: 100%;height: 32px;border: 1px solid #d5d5d5;box-sizing: border-box;padding: 0 15px 0 5px;}
.content_wrap textarea{display: block;border: 1px solid #d5d5d5;width: 100%;height: 150px;padding: 15px;}
.content_wrap .textarea_l textarea{height: 500px;}
.content_wrap select{background-image: url(../images/common/arrow_down.png);background-repeat: no-repeat;background-position: 95% 50%;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
.content_wrap input[type=radio],
.content_wrap input[type=checkbox]{display:inline-block; margin:0; vertical-align:middle; margin-right:5px;}
.content_wrap input[type=file]{display: none;}

.content_wrap input:read-only{background-color: #eee;}

/* ==== button ===== */
.btn{display: inline-block;width: 120px;height: 42px;line-height: 40px;font-size: 14px;background-color: #222;color: #fff;border: 1px solid #222;text-align: center;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.btn.btn_form1{background-color: #fff;border-color: #107c42;color: #107c42;}
.btn.btn_form2{background-color: #0c725a;border-color: #0c725a;color: #fff;}
.btn.btn_form3{background-color: #fff;border-color: #999;color: #999;}
.btn.btn_form3 span{padding-right: 20px;position: relative;}
.btn.btn_form3 span::after{content: '';font-size:10px;line-height: 10px;color:#666;position: absolute;right: 0;top: 50%;margin: -5px 0 0;}
.btn.btn_form3.up span::after{content: '▲';}
.btn.btn_form3.down span::after{content: '▼';}
.btn.btn_form4{background-color: #fff;color: #222;}
.btn.btn_form5{background-color: #5B6286;border-color: #5B6286; color: #fff;}
.btn_xs{display: inline-block;width: 60px;height: 42px;line-height: 40px;font-size: 14px;background-color: #222;color: #fff;border: 1px solid #222;text-align: center;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.btn_s{display: inline-block;min-width: 50px;max-width: 100px; height: 30px;line-height: 28px;font-size: 13px;color: #fff;background-color: #5B6286;border: 1px solid #5B6286;padding: 0 5px;text-align: center;border-radius: 3px;}
.btn_s.btn_form1{background-color: #fff;color: #5B6286;}
.btn_del {display: inline-block;vertical-align: middle;width: 20px;height: 20px;font-size: 0;background-image: url(../images/sub/close.png);background-repeat: no-repeat;background-position: center;background-color: transparent;background-size: 20px;}
.content_wrap table .btn{height: 32px; line-height: 30px;}

/* ==== pagination ==== */
.pagination{padding: 60px 0 0;text-align: center;}
.pagination.pt10{padding: 10px 0 0;text-align: center;}
.pagination a{display:inline-block;vertical-align:middle;width: 32px;height: 32px;line-height: 30px;font-size:13px;text-align:center;color:#898989;border-radius: 50%;}
.pagination .on{background:#0c725a;background-color: #0c725a;color:#fff;font-weight: 600;}
.pagination .prev,.pagination .next,.pagination .first,.pagination .last{height:32px; width:24px;overflow:hidden;position:relative; font-size:0;}
.pagination .prev{background:url(../images/common/btn_prev3.png) no-repeat center center; margin-right:11px;}
.pagination .next{background:url(../images/common/btn_next3.png) no-repeat center center; margin-left:12px;}
.pagination .first{background: url(../images/common/btn_first3.png) no-repeat center center; margin-right: 11px;}
.pagination .last{background: url(../images/common/btn_last3.png) no-repeat center center; margin-left: 12px;}
.pagination .front{background:url(../images/common/btn_front.png) no-repeat center center; font-size:0;}
.pagination .back{background:url(../images/common/btn_back.png) no-repeat center center; font-size:0;}

/* ==== datepicker ==== */
.ui-datepicker-header .ui-datepicker-prev span{background-image: url(../images/common/ico_prev.png) !important; background-size: auto !important; cursor: pointer;}
.ui-datepicker-header .ui-datepicker-next span{background-image: url(../images/common/ico_next.png) !important; background-size: auto !important; cursor: pointer;}
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover{top: 0 !important;}